{% extends "layout.html" %}
{% block title %} About {% endblock %}
{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(http://localhost:8080/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="file:///C:/Users/Amitha/Downloads/College_website-master/about.html#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h3>About Management:</h3>
                        </div>

                        <p >Our management, RAJYA Vokkaligara Sangha was founded in the year 1906 to promote social, cultural and educational aspirations of the agricultural community. Rajya Vokkaligara Sangha with a commanding presence in Bangalore, Mandya, Mysore, Hassan, Tumkur, and Kolar districts and with a fairly well spread presence in other regions of Karnataka has been conducting number of regular activities for the development and well being of the community in particular and to all sections of the society in general. The sangha has also provide hostel facilities for poor background student and students are making use of this hostel facilities during their education carrier. The Rajya Vokkaligara Sangha comprise of 35 members, headed by</p>
                        <p ><b>Presided by-Sri H.S Ashokanand IAS (Rtd) Administrator-Rajya Vokkaligara Sangha</b></p>
                        <p><b>The Sangha has been promoting the cause of education. Under its auspices, the following institutions are being run:</b></p>
                        <ul >
                        <li>Bangalore Institute of Technology (Offering courses in Civil, Mechanical, Electrical, Electronics, Instrumentation, Computer Science, Architecture, Telecommunication, Information Science, Industrial Engineering, MCA, MBA etc.)</li>
                        <li>Kempegowda Institute of Medical Sciences. (KIMS)</li>
                        <li>Visveswarapuram College of Science</li>
                        <li>Visveswarapuram College of Arts and Commerce</li>
                        <li>Visveswarapuram College of Law</li>
                        <li>Visveswarapuram Evening College of Arts, Commerce and Law.</li>
                        <li>V.V Puram Institute of Pharmaceutical Sciences.</li>
                        <li>Rural Middle School and High School at Sreegandhadakaval.</li>
                        <li>Vokkaligara Sangha Dental College.</li>
                        <li>Kempegowda Institute of Nursing.</li>
                        <li>Kempegowda Institute of Physiotherapy.</li>
                        </ul>
                        <br><br>

    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
                         <div class="section-heading">
                            <h3>About Principal:</h3>
                        </div>
                        <p style="text-align: center; padding-top: 50px;"><img class="size-full wp-image-169 aligncenter" src="http://localhost:8080/faculty/1.jpg" alt="" width="173" height="214">
                            <br><strong>Dr.Aswath.M.U</strong><br>
                            <span style="font-size: 12px;"><i>B.E, M.E, Ph.D</i></span></p>
                        <p>Bangalore Institute of Technology (BIT) is one of the most sought after institute for Engineering aspiring students. BIT has seen a phenomenal growth in the last four decades bringing innovation to every road we have traveled. Inside our campus the possibilities seem limitless. The stakeholders will ﬁnd cutting- edge technology, state-of-the-art facilities beyond the curriculum and minds that push the envelope of
                            theory and experimentation.</p>
                        <p>The foundation of Bangalore Institute of Technology was laid in the year 1979 by the great national poet Kuvempu. Kuvempu's wellknown lines “ ಓ ನನ್ನ ಚೇತನ ಆಗು ನೀ ಅನಿಕೇತನ – O nanna chetana, Aagu nee aniketana” (Be unhoused O my soul, only the inﬁnite is your goal") is embedded in the environment of BIT.</p>
                        <p>Having a ﬁrm belief in the societal technological prosperity, the then AICTE Chairman and the founder Principal of BIT, Dr. S. Ramegowda engraved BIT's motto as “Technology for Prosperity”. BIT's key emphasis are our students. We impart the best knowledge for promoting and pursuing multidisciplinary Engineering in the most meticulous mode.</p>
                        <p>BIT inducts students as per the VTU and AICTE guidelines and gladly brings together a thorough academic achievement with an extensive, vibrant
                            co-curricular programmes that includes sports, culture and creative arts, various club activities, carving universal human values, literary activities, providing proﬁciency modules, mentoring and feedback sessions and organizing leadership and entrepreneurial training programmes.</p>
                        <p>The students graduating from our institute will have diverse knowledge and skills in the areas of their studies and will have a broad understanding of industry and societal needs. Their character will be nurtured in developing them into a social engineer, a responsible citizen and a valued human being. With the support of highly qualiﬁed faculty members, supportive staff, sound placement achievements and excellent infrastructure facilities, BIT is committed to develop a community of learnt scholars and strives to create a holistic learning environment for our students to learn and excel in their career for a better tomorrow. I extend my best wishes for our students to attain the heights of glory.</p>                        <p></p>
                        <h3>Communication Address</h3>
                        <p><b>PRINCIPAL</b><br>
                            BANGALORE INSTITUTE OF TECHNOLOGY<br>
                            K.R. ROAD, V V PURA<br>
                            BANGALORE-560004<br>
                            INDIA<br>
                            Email:- <a href="mailto:principalbit4@gmail.com">principalbit4@gmail.com</a>, <a href="mailto:%20principal@bit-bangalore.edu.in"> principal@bit-bangalore.edu.in</a><br>
                            Phone : +91-080-26615865 , 26613237 Fax : +91-080-22426796</p>
                         <div class="section-heading">
                            <h3>Vision</h3>
                        </div>

                             <p>To establish and develop the Institute as the centre of higher learning, ever abreast with expanding horizon of knowledge in the ﬁeld of Engineering and Technology with entrepreneurial thinking, leadership excellence for life-long success and solve societal problems.</p>
                         <div class="section-heading">
                            <h3>Mission:</h3>
                        </div>
                            <p>M1: Provide high quality education in the Engineering disciplines from the undergraduate through doctoral levels with creative academic and professional programs.</p>
                            <p>  M2: Develop the Institute as a leader in Science, Engineering, Technology, Management and Research and apply knowledge for the beneﬁt of society.</p>
                            <p> M3: Establish mutual beneﬁcial partnerships with Industry, Alumni, Local, State and Central Governments by Public Service Assistance and Collaborative Research.</p>
                            <p> M4: Inculcate personality development through sports, cultural and extracurricular activities and engage in the social, economic and professional challenges.</p>
                         <div class="section-heading">
                            <h3>Long Term Goals:</h3>
                        </div>
                            <ul>
                                <li>To be among top 3 private engineering colleges in karnataka and top 20 in India.</li>
                                <li>To be the most preferred choice of students and faculty.</li>
                                <li>To be the preferred partner of corporate.</li>
                                <li>To provide knowledge through education and research in engineering.</li>
                                <li>To develop in each student mastery of fundamentals, versatility of mind, motivation for learning, intellectual discipline and self-reliance which provide the best foundation for continuing professional achievement.</li>
                                <li>To provide a liberal as well as a professional education so that each student acquires a respect for moral values, a sense of their duties as a citizen, a feeling for taste and style, and a better human understanding.</li>

                            </ul>
                    </div>
                    </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="sidebar-area bg-white mb-30 box-shadow">
                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget p-30">
                            <!-- Social Followers Info -->
                            <div class="social-followers-info">
                                <!-- Facebook -->
                                <a href="https://www.facebook.com/bitsince1979/" class="facebook-fans"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <!-- Twitter -->
                                <a href="https://twitter.com/bitsince1979" class="twitter-followers"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <!-- Instagram -->
                                <a href="https://www.instagram.com/bitsince1979/" class="instagram-followers"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}