
    <div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<h3>POST GRADUATION</h3>
<p>Department of Computer Science and Engineering started PG Program in the year 2008 with intake of 18 students headed by Dr. Shivanand Handigundi. The program is approved by AICTE and is affiliated to Visvesvaraya Technology University (VTU), Karnataka. Currently headed by Dr. D G Jyothi.</p>
<br>
<p>The M.Tech Programme is of four semester (two years) duration. During this tenure, students acquire in depth knowledge in various fields of Computer Science Engineering like Internet of Things, Big Data, Data Mining, Computer Networks, Storage systems etc using Machine Learning, Web Mining and other techniques. Students are provided with infrastructure and faculty support. Department has well educated and highy experienced staff to train PG students. All 3 rd semester PG students are doing internship in reputed IT companies like DELL, Nokia, Nvest Global Enterprises, DRDO DEBEL, Inventeron Technologies and Business LLP, etc</p>
<br>
<p>The program has the credit of getting ranks every year and this year 2 ranks are secured</p>
<ul>
1. Harshitha S., 1BI16SCS04 (CGPA: 9.11)
<br>
2. Pooja G. R., 1BI16SCS14 (CGPA: 8.99)
</ul>
<p>and nearly 90% of PG students are employed. Students are taught how to use peer reviewed journal papers for presenting papers and doing innovative projects. All students do present papers in reputed peer reviewed journals/conferences as part of the academic requirement.</p>
<br>
<p >
    <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
        <img src="http://localhost:8080/faculty/CS03.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dr. D. G. Jyothi</h5>
            <p class="card-text">PG and R&D Coordinator
                </p>
            </div>
        </div></div>
   
</p>
<br>

</div>
</div>

<div class="row">
<div class="col-lg-3">
<p></p>
</div>
<div class="col-lg-6">
<h2>Facilities</h2>
<p>PG students will be able to use up-to-date learning resources including a well-stocked library with traditional and electronic media, general purpose network computing facilities and independent laboratory.
</p>
<br>
<p>The Department is having Research and Development Centre to carry out Research works to acquire Ph.D degree.</p>
<br>
<h3 >Course Structure</h3>

<h4>I SEMESTER</h4>

<table class="table table-bordered table-sm" style="width:600px;">
<tbody>
<tr>
<th width="15">
<p><strong>SL NO</strong></p>
</th>
<td width="30">
<p><strong>Subject Code</strong></p>

</td><td width="55">
<p><strong>Subject Name</strong></p>

</td></tr>
<tr><td width="15">
<p>1</p>
</td>
<td width="30">
<p>18SCS11 </p>
</td>
<td width="55">
<p>Mathematics</p>
</td>
</tr>

<tr><td width="15">
<p>2</p>
</td>
<td width="30">
<p>
18SCS12 </p>
</td>
<td width="55">
<p>Advances in Operating Systems</p>
</td>
</tr>

<tr><td width="15">
<p>3</p>
</td>
<td width="30">
<p>
18SCS13</p>
</td>
<td width="65">
<p>
Advances in Data Base  Management System</p>
</td>
</tr>

<tr><td width="15">
<p>4</p>
</td>
<td width="30">
<p>18SCS14 </p>
</td>
<td width="55">
<p>
Internet of Things</p>
</td>
</tr>

<tr><td width="15">
<p>5</p>
</td>
<td width="30">
<p>18SCS15X </p>
</td>
<td width="55">
<p>
Professional Elective -1</p>
</td>
</tr>
<tr><td width="15">
<p>6</p>
</td>
<td width="30">
<p>18SCSL16</p>
</td>
<td width="55">
<p>IOT and ADBMS Laboratory</p>
</td>
</tr>
<tr><td width="15">
<p>7</p>
</td>
<td width="30">
<p>18RMI17</p>
</td>
<td width="55">
<p>Research Methodology and IPR</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm" style="width:500px; margin-left:100px;">
<tbody>
<tr>
<td width="20">
<p><strong>18SCS15X</strong></p>

</td><td width="80">
<p><strong>Professional Elective -1</strong></p>

</td></tr>
<tr>
<td width="20">
<p>18SCS151</p>
</td>
<td width="80">
<p>Advances in Computer Networks </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS152</p>
</td>
<td width="80">
<p>Multi Core Architecture and Programming </p>
</td>
</tr>

<tr>
<td width="20">
<p>18SCS153</p>
</td>
<td width="80">
<p>Data Compression </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS154</p>
</td>
<td width="80">
<p>Computer Systems Performance Analysis </p>
</td>
</tr>

</tbody>
</table>

<h4>II SEMESTER</h4>

<table class="table table-bordered table-sm" style="width:600px;">
<tbody>
<tr>
<th width="15">
<p><strong>SL NO</strong></p>
</th>
<td width="30">
<p><strong>Subject Code</strong></p>

</td><td width="55">
<p><strong>Subject Name</strong></p>

</td></tr>
<tr><td width="15">
<p>1</p>
</td>
<td width="30">
<p>18SCS21</p>
</td>
<td width="55">
<p>Managing Big Data</p>
</td>
</tr>

<tr><td width="15">
<p>2</p>
</td>
<td width="30">
<p>18SCS22</p>
</td>
<td width="55">
<p>Advanced Algorithms</p>
</td>
</tr>

<tr><td width="15">
<p>3</p>
</td>
<td width="30">
<p>18SCS23</p>
</td>
<td width="65">
<p>
Cloud Computing</p>
</td>
</tr>

<tr><td width="15">
<p>4</p>
</td>
<td width="30">
<p>18SCS24X </p>
</td>
<td width="55">
<p>
Professional elective -2</p>
</td>
</tr>

<tr><td width="15">
<p>5</p>
</td>
<td width="30">
<p>18SCS25X </p>
</td>
<td width="55">
<p>
Professional Elective -3</p>
</td>
</tr>
<tr><td width="15">
<p>6</p>
</td>
<td width="30">
<p>18SCSL26</p>
</td>
<td width="55">
<p>Mini Project</p>
</td>
</tr>
<tr><td width="15">
<p>7</p>
</td>
<td width="30">
<p>18SCS27</p>
</td>
<td width="55">
<p>Technical Seminart</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm" style="width:500px; margin-left:100px;">
<tbody>
<tr>
<td width="20">
<p><strong>18SCS24X</strong></p>

</td><td width="80">
<p><strong>Professional Elective -2</strong></p>

</td></tr>
<tr>
<td width="20">
<p>18SCS241</p>
</td>
<td width="80">
<p>Advances in Storage Area Network </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS242</p>
</td>
<td width="80">
<p>Agile Technologies </p>
</td>
</tr>

<tr>
<td width="20">
<p>18SCS243</p>
</td>
<td width="80">
<p>Business Intelligence and its Applications </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS244</p>
</td>
<td width="80">
<p>Data Mining &amp; Data Warehousing</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm" style="width:500px; margin-left:100px;">
<tbody>
<tr>
<td width="20">
<p><strong>18SCS25X</strong></p>

</td><td width="80">
<p><strong>Professional Elective -3</strong></p>

</td></tr>
<tr>
<td width="20">
<p>18SCS251</p>
</td>
<td width="80">
<p>Advances in Computer Graphics </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS252</p>
</td>
<td width="80">
<p>Trends in Artificial Intelligence and Soft Computing</p>
</td>
</tr>

<tr>
<td width="20">
<p>18SCS253</p>
</td>
<td width="80">
<p>Object Oriented Software Engineering </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS254</p>
</td>
<td width="80">
<p>Advances in Digital Image Processing</p>
</td>
</tr>
</tbody>
</table>

<h4>III SEMESTER</h4>

<table class="table table-bordered table-sm" style="width:600px;">
<tbody>
<tr>
<th width="15">
<p><strong>SL NO</strong></p>
</th>
<td width="30">
<p><strong>Subject Code</strong></p>

</td><td width="55">
<p><strong>Subject Name</strong></p>

</td></tr>
<tr><td width="15">
<p>1</p>
</td>
<td width="30">
<p>18SCS31</p>
</td>
<td width="55">
<p>Machine Learning Techniques</p>
</td>
</tr>

<tr><td width="15">
<p>2</p>
</td>
<td width="30">
<p>18SCS32X</p>
</td>
<td width="55">
<p>Professional elective - 4</p>
</td>
</tr>

<tr><td width="15">
<p>3</p>
</td>
<td width="30">
<p>18SCS33X</p>
</td>
<td width="65">
<p>Professional elective - 5</p>
</td>
</tr>

<tr><td width="15">
<p>4</p>
</td>
<td width="30">
<p>18SCS34 </p>
</td>
<td width="55">
<p>Evaluation of Project phase -1</p>
</td>
</tr>

<tr><td width="15">
<p>5</p>
</td>
<td width="30">
<p>18SCSI35 </p>
</td>
<td width="55">
<p>Internship</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm" style="width:500px; margin-left:100px;">
<tbody>
<tr>
<td width="20">
<p><strong>18SCS32X</strong></p>

</td><td width="80">
<p><strong>Professional Elective -4</strong></p>

</td></tr>
<tr>
<td width="20">
<p>18SCS321</p>
</td>
<td width="80">
<p>Embedded Computing Systems</p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS322</p>
</td>
<td width="80">
<p>Information and Network Security </p>
</td>
</tr>

<tr>
<td width="20">
<p>18SCS323</p>
</td>
<td width="80">
<p>Wireless Networks &amp; Mobile Computing </p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS324</p>
</td>
<td width="80">
<p>Enterprise Application Programming</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm" style="width:500px; margin-left:100px;">
<tbody>
<tr>
<td width="20">
<p><strong>18SCS33X</strong></p>

</td><td width="80">
<p><strong>Professional Elective -5</strong></p>

</td></tr>
<tr>
<td width="20">
<p>18SCS331</p>
</td>
<td width="80">
<p>Application And Web Security</p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS332</p>
</td>
<td width="80">
<p>Software Project Planning &amp; Management</p>
</td>
</tr>

<tr>
<td width="20">
<p>18SCS333</p>
</td>
<td width="80">
<p>Natural Language Processing and Text Mining</p>
</td>
</tr>
<tr>
<td width="20">
<p>18SCS334</p>
</td>
<td width="80">
<p>Cyber Security And Cyber Law</p>
</td>
</tr>
</tbody>
</table>

<h4>IV SEMESTER</h4>

<table class="table table-bordered table-sm" style="width:600px;">
<tbody>
<tr>
<th width="15">
<p><strong>SL NO</strong></p>
</th>
<td width="30">
<p><strong>Subject Code</strong></p>

</td><td width="55">
<p><strong>Subject Name</strong></p>

</td></tr>
<tr><td width="15">
<p>1</p>
</td>
<td width="30">
<p>18SCS41</p>
</td>
<td width="55">
<p>Project work phase - 2</p>
</td>
</tr>
</tbody>
</table>


</div>
<div class="col-lg-3">
<p></p>
</div>
</div>


</div>
