<h3>Infrastructure and Facilities available:</h3>
<p>Department has enough class and tutorial rooms, there are seven UG class rooms,2 PG class room with most of them equipped with projectors, one PG lab and research lab and there are six well equipped laboratories. The library is equipped with books, journals and student project reports, for quick reference for both students and staff. </p>
<p>The Departmental Laboratories - Algorithm &amp; Data Structures Labs, Database &amp; Networking Labs, Web Technologies, System Software &amp; Operating system Labs and the Microprocessor Lab are equipped with state of the art technologies.</p>

<h3>Department Floor Space</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="115">
<p><strong>&nbsp;</strong></p>
<p><strong>Sl. No. </strong></p>
</td>
<td width="288">
<p><strong>Name of Space. </strong></p>
<p><strong>[ HOD Chamber/ Library/ Dept. Office/ </strong></p>
<p><strong>Laboratory/ Class Rooms/ Etc ] </strong></p>
</td>
<td width="120">
<p><strong>Length </strong></p>
<p><strong>in Mtrs </strong></p>
</td>
<td width="102">
<p><strong>Breadth </strong></p>
<p><strong>in Mtrs </strong></p>
</td>
<td width="102">
<p><strong>Area in Square Mtrs </strong></p>
</td>
</tr><tr><td width="115">
<p>1</p>
</td>
<td width="288">
<p>HOD Room - R.No.505</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>5.8</p>
</td>
<td width="102">
<p>58.58</p>
</td>
</tr><tr><td width="115">
<p>2</p>
</td>
<td width="288">
<p>CSE Office/Dept. Library - R.No.504</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>3.8</p>
</td>
<td width="102">
<p>38.38</p>
</td>
</tr><tr><td width="115">
<p>3</p>
</td>
<td width="288">
<p>DS/CGV &amp; N/W Lab - R.No.526 (a &amp; b)</p>
</td>
<td width="120">
<p>15.5</p>
</td>
<td width="102">
<p>10.6</p>
</td>
<td width="102">
<p>164.30</p>
</td>
</tr><tr><td width="115">
<p>4</p>
</td>
<td width="288">
<p>EC/LD, MP Lab - R.No.526(c)</p>
</td>
<td width="120">
<p>15.5</p>
</td>
<td width="102">
<p>7.0</p>
</td>
<td width="102">
<p>108.50</p>
</td>
</tr><tr><td width="115">
<p>5</p>
</td>
<td width="288">
<p>Lounge - R.No. 526 b/w (a &amp; c)</p>
</td>
<td width="120">
<p>7.6</p>
</td>
<td width="102">
<p>3.3</p>
</td>
<td width="102">
<p>25.08</p>
</td>
</tr><tr><td width="115">
<p>6</p>
</td>
<td width="288">
<p>UPS Room - R.No.526(d)</p>
</td>
<td width="120">
<p>7.7</p>
</td>
<td width="102">
<p>3.3</p>
</td>
<td width="102">
<p>25.41</p>
</td>
</tr><tr><td width="115">
<p>7</p>
</td>
<td width="288">
<p>ADA/Project Lab - R.No.502</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>7.5</p>
</td>
<td width="102">
<p>75.75</p>
</td>
</tr><tr><td width="115">
<p>8</p>
</td>
<td width="288">
<p>DBMS/SS Lab - R.No.503</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>9.4</p>
</td>
<td width="102">
<p>94.94</p>
</td>
</tr><tr><td width="115">
<p>9</p>
</td>
<td width="288">
<p>OOPS/Web Lab - R.No.517</p>
</td>
<td width="120">
<p>11.35</p>
</td>
<td width="102">
<p>7.6</p>
</td>
<td width="102">
<p>86.66</p>
</td>
</tr><tr><td width="115">
<p>10</p>
</td>
<td width="288">
<p>Faculty Room - R.No.506</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>15.5</p>
</td>
<td width="102">
<p>156.55</p>
</td>
</tr><tr><td width="115">
<p>11</p>
</td>
<td width="288">
<p>Faculty Room - R.No.507</p>
</td>
<td width="120">
<p>10.1</p>
</td>
<td width="102">
<p>8.0</p>
</td>
<td width="102">
<p>80.80</p>
</td>
</tr><tr><td width="115">
<p>12</p>
</td>
<td width="288">
<p>Faculty Room - R.No.514</p>
</td>
<td width="120">
<p>3.9</p>
</td>
<td width="102">
<p>3.55</p>
</td>
<td width="102">
<p>13.85</p>
</td>
</tr><tr><td width="115">
<p>13</p>
</td>
<td width="288">
<p>Faculty Room - R.No.515</p>
</td>
<td width="120">
<p>3.55</p>
</td>
<td width="102">
<p>3.55</p>
</td>
<td width="102">
<p>12.60</p>
</td>
</tr><tr><td width="115">
<p>14</p>
</td>
<td width="288">
<p>Faculty Room - R.No.528</p>
</td>
<td width="120">
<p>8.2</p>
</td>
<td width="102">
<p>7.0</p>
</td>
<td width="102">
<p>57.40</p>
</td>
</tr><tr><td width="115">
<p>15</p>
</td>
<td width="288">
<p>UG Class Room - R.No.511</p>
</td>
<td width="120">
<p>9.8</p>
</td>
<td width="102">
<p>7.5</p>
</td>
<td width="102">
<p>73.50</p>
</td>
</tr><tr><td width="115">
<p>16</p>
</td>
<td width="288">
<p>UG Class Room - R.No.512</p>
</td>
<td width="120">
<p>9.8</p>
</td>
<td width="102">
<p>7.5</p>
</td>
<td width="102">
<p>73.50</p>
</td>
</tr><tr><td width="115">
<p>17</p>
</td>
<td width="288">
<p>UG Class Room - R.No.516</p>
</td>
<td width="120">
<p>7.6</p>
</td>
<td width="102">
<p>7.5</p>
</td>
<td width="102">
<p>57.00</p>
</td>
</tr><tr><td width="115">
<p>18</p>
</td>
<td width="288">
<p>UG Class Room - R.No.520</p>
</td>
<td width="120">
<p>10.4</p>
</td>
<td width="102">
<p>7.4</p>
</td>
<td width="102">
<p>79.48</p>
</td>
</tr><tr><td width="115">
<p>19</p>
</td>
<td width="288">
<p>UG Class Room - R.No.521</p>
</td>
<td width="120">
<p>10.4</p>
</td>
<td width="102">
<p>7.4</p>
</td>
<td width="102">
<p>79.48</p>
</td>
</tr><tr><td width="115">
<p>20</p>
</td>
<td width="288">
<p>UG Class Room - R.No.522</p>
</td>
<td width="120">
<p>11.0</p>
</td>
<td width="102">
<p>10.4</p>
</td>
<td width="102">
<p>114.40</p>
</td>
</tr><tr><td width="115">
<p>21</p>
</td>
<td width="288">
<p>UG Class Room - R.No.613</p>
</td>
<td width="120">
<p>10.4</p>
</td>
<td width="102">
<p>7.4</p>
</td>
<td width="102">
<p>79.48</p>
</td>
</tr><tr><td width="115">
<p>22</p>
</td>
<td width="288">
<p>PG Lab &amp; Research Lab - R.No.501</p>
</td>
<td width="120">
<p>13.8</p>
</td>
<td width="102">
<p>7.5</p>
</td>
<td width="102">
<p>103.50</p>
</td>
</tr><tr><td width="115">
<p>23</p>
</td>
<td width="288">
<p>PG Class Room - R.No.510</p>
</td>
<td width="120">
<p>8.6</p>
</td>
<td width="102">
<p>6.5</p>
</td>
<td width="102">
<p>55.90</p>
</td>
</tr><tr><td width="115">
<p>24</p>
</td>
<td width="288">
<p>PG Class Room - R.No.518(a)</p>
</td>
<td width="120">
<p>8.6</p>
</td>
<td width="102">
<p>6.5</p>
</td>
<td width="102">
<p>55.90</p>
</td>
</tr><tr><td width="115">
<p>25</p>
</td>
<td width="288">
<p>Lounge - R.No.519 [518(a)]</p>
</td>
<td width="120">
<p>2.8</p>
</td>
<td width="102">
<p>2.4</p>
</td>
<td width="102">
<p>6.72</p>
</td>
</tr><tr><td width="115">
<p>26</p>
</td>
<td width="288">
<p>Technical Staff Room - R.No.527</p>
</td>
<td width="120">
<p>15.5</p>
</td>
<td width="102">
<p>2.2</p>
</td>
<td width="102">
<p>34.10</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<p><b>Total Area = 1,811.76 Square Mtrs</b></p>
<h3>Specifications of each lab</h3>

<table class="table table-bordered table-sm" ><tbody><tr><td width="706">
<p><b>Name of the LAB: DS/CGV &amp; Network</b></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Details of Hardware and Software: </strong>Software:&nbsp;Dell optiplex755, Intel core(TM)2 Duo CPU
E4500@2.20GHz 2.19Ghz 1.95GB of RAM, 160GB Hard drive. </p>
<p><strong>OS</strong>: fedora 12</p>
<p><strong>Software</strong>: nctuns</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: EC&amp;LD/MP Lab</strong></p>
<p> </p>
<p><strong>Details of Hardware and Software: </strong>Dell - Optiplex 380 DT, Intel core 2 Duo Processor, 4GB SDRAM, 500GB SATA Hard drive, 18.5” HD Monitor with WLED. </p>
<p><strong>OS</strong>: Windows XP Professional</p>
<p><strong>Software</strong>: PSpice, XiLinx</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: ADA/PROJECT Lab</strong></p>
<p>&nbsp;</p>
<p><strong>Details of Hardware and Software : </strong>: Dell - Optiplex 3010 DT-N-Series, intel i3-2120 Processor, 4GB SDRAM, 500GB SATA Hard drive, 16X DVD RW,18.5” Monitor </p>
<p><strong>OS</strong>: Linux</p>
<p><strong>Software</strong>: Fedora</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: DBMS/SS Lab</strong></p>
<p></p>
<p><strong>Details of Hardware and Software : </strong>Dell Precision T3400 n Workstation, Intel core 2 Duo E6550@ 2.33GHz., 2GB RAM,160 GB HDD, DVD R/W Drive, 17” flat LCD Monitor </p>
<p><strong>OS</strong>: Linux</p>
<p><strong>Software</strong>: Oracle 11G</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: OOPS/WEB Lab</strong></p>
<p>&nbsp;</p>
<p><strong>Details of Hardware and Software : </strong>Dell - Optiplex 3010 DT-N-Series, intel i3-2120 Processor, 4GB SDRAM, 500GB SATA Hard drive, 16X DVD RW,18.5” Monitor </p>
<p><strong>OS</strong>: Linux</p>
<p><strong>Software</strong>: Perl, PHP, MYSQL</p>

</td>
</tr></tbody></table>