
								<h3>VTU RANK HOLDERS</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="67">
<p><strong>SL NO</strong></p>
</td>
<td width="210">
<p><strong>NAME</strong></p>
</td>
<td width="66">
<p><strong>YEAR</strong></p>
</td>
<td width="54">
<p><strong>RANK</strong></p>
</td>
</tr><tr><td width="67">
<p>1</p>
</td>
<td width="210">
<p>ANANTH PANDEY</p>
</td>
<td width="66">
<p>1987</p>
</td>
<td width="54">
<p>1</p>
</td>
</tr><tr><td width="67">
<p>2</p>
</td>
<td width="210">
<p>JAYACHANDRA L</p>
</td>
<td width="66">
<p>1987</p>
</td>
<td width="54">
<p>2</p>
</td>
</tr><tr><td width="67">
<p>3</p>
</td>
<td width="210">
<p>PRAKASH</p>
</td>
<td width="66">
<p>1988</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>4</p>
</td>
<td width="210">
<p>RANGANATHA PRASAD S</p>
</td>
<td width="66">
<p>1992</p>
</td>
<td width="54">
<p>10</p>
</td>
</tr><tr><td width="67">
<p>5</p>
</td>
<td width="210">
<p>GIRISH CHANDRA KRISHNA M</p>
</td>
<td width="66">
<p>1994</p>
</td>
<td width="54">
<p>5</p>
</td>
</tr><tr><td width="67">
<p>6</p>
</td>
<td width="210">
<p>GAURAV D GHARE</p>
</td>
<td width="66">
<p>1996</p>
</td>
<td width="54">
<p>3</p>
</td>
</tr><tr><td width="67">
<p>7</p>
</td>
<td width="210">
<p>JINASHREE R</p>
</td>
<td width="66">
<p>1998</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>8</p>
</td>
<td width="210">
<p>PREETHI C N</p>
</td>
<td width="66">
<p>1999</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>9</p>
</td>
<td width="210">
<p>SHRUTHI B K</p>
</td>
<td width="66">
<p>2001</p>
</td>
<td width="54">
<p>9</p>
</td>
</tr><tr><td width="67">
<p>10</p>
</td>
<td width="210">
<p>ANNAPOORNESHWARI</p>
</td>
<td width="66">
<p>2006</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>11</p>
</td>
<td width="210">
<p>ANKUSH H PRASAD</p>
</td>
<td width="66">
<p>2012</p>
</td>
<td width="54">
<p>2</p>
</td>
</tr><tr><td width="67">
<p>12</p>
</td>
<td width="210">
<p>PRIYADARSHINI K S</p>
</td>
<td width="66">
<p>2012</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>13</p>
</td>
<td width="210">
<p>SHIKHA MISHRA</p>
</td>
<td width="66">
<p>2013</p>
</td>
<td width="54">
<p>10</p>
</td>
</tr><tr><td width="67">
<p>14</p>
</td>
<td width="210">
<p>AKASH KUMAR R</p>
</td>
<td width="66">
<p>2014</p>
</td>
<td width="54">
<p>1</p>
</td>
</tr><tr><td width="67">
<p>15</p>
</td>
<td width="210">
<p>KARTHIK A</p>
</td>
<td width="66">
<p>2014</p>
</td>
<td width="54">
<p>3</p>
</td>
</tr><tr><td width="67">
<p>16</p>
</td>
<td width="210">
<p>ABHISHEK KULSHRESTHA</p>
</td>
<td width="66">
<p>2014</p>
</td>
<td width="54">
<p>9</p>
</td>
</tr><tr><td width="67">
<p>17</p>
</td>
<td width="210">
<p>VIDWATHA</p>
</td>
<td width="66">
<p>2016</p>
</td>
<td width="54">
<p>1</p>
</td>
</tr><tr><td width="67">
<p>18</p>
</td>
<td width="210">
<p>ASHWINI B RAO</p>
</td>
<td width="66">
<p>2016</p>
</td>
<td width="54">
<p>2</p>
</td>
</tr><tr><td width="67">
<p>19</p>
</td>
<td width="210">
<p>MEGHANA D M</p>
</td>
<td width="66">
<p>2016</p>
</td>
<td width="54">
<p>3</p>
</td>
</tr><tr><td width="67">
<p>20</p>
</td>
<td width="210">
<p>RISHAB SRIVASTAVA</p>
</td>
<td width="66">
<p>2016</p>
</td>
<td width="54">
<p>5</p>
</td>
</tr><tr><td width="67">
<p>21</p>
</td>
<td width="210">
<p>RAVINDER SINGH</p>
</td>
<td width="66">
<p>2016</p>
</td>
<td width="54">
<p>6</p>
</td>
</tr><tr><td width="67">
<p>22</p>
</td>
<td width="210">
<p>TEJASHWINI M S</p>
</td>
<td width="66">
<p>2017</p>
</td>
<td width="54">
<p>4</p>
</td>
</tr><tr><td width="67">
<p>23</p>
</td>
<td width="210">
<p>SHVETHA MURALIKRISHNA</p>
</td>
<td width="66">
<p>2017</p>
</td>
<td width="54">
<p>9</p>
</td>
</tr><tr><td width="67">
<p>24</p>
</td>
<td width="210">
<p>APURVA</p>
</td>
<td width="66">
<p>2017</p>
</td>
<td width="54">
<p>10</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<h3>Student publications</h3>
<table class="table table-bordered table-sm"  cellspacing="0" cellpadding="0" width="685">
    <tbody>
        <tr>
            <td width="43" valign="top">
                <p >
                    <strong>SL. NO</strong>
                </p>
            </td>
            <td width="102" valign="top">
                <p >
                    <strong>STUDENT NAME</strong>
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    <strong>GUIDE</strong>
                </p>
            </td>
            <td width="204" valign="top">
                <p >
                    <strong>PAPER</strong>
                </p>
            </td>
            <td width="222" valign="top">
                <p >
                    <strong>PUBLICATION</strong>
                </p>
            </td>
            <td width="54" valign="top">
                <p >
                    <strong>YEAR</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    1
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Sreraksha
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Overview on Big Data Tools
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Conference on Recent Research and Innovations
                    in Social Science
                </p>
            </td>
            <td width="54" rowspan="5" valign="top">
                <p >
                    2018
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    2
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Vivek Ayyappa
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    DGJ
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    ARP Poisoning
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    National conference CBIT
                </p>
                <p>
                    Kolar
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    3
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Mr. Suchith Narayan, Mr. Tarun R, Mr. R Purushotham
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    HP
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Web Forensics Evidence System
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Research Journal of Engineering and
                    Technology (IRJET)
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    4
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Ajay K
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    HP
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Intellectual Property Management Using Block Chain
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Conference on Inventive Computation
                    Technologies (ICICT)
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    5
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Niranjan Hegde, Rajat Bharti, Rittik Sur, Priyanka S.
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    HP
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Anti-Malware Phishing QR Scanner
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Journal of Innovative Science and Research
                    Technology
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    6
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Pooja G R
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Recommendation of Hash tags for Effective Organization of
                    Tweets Using Frequent Pattern Mining
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    European Journal of Advances in Engineering and Technology
                </p>
            </td>
            <td width="54" rowspan="5" valign="top">
                <p >
                    2017
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    7
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    VinuthnaSeethamsetty
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Extending Qlik Sense Data Visualization and embedding it in
                    Web Application
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Journal of Innovative Research in Technology
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    8
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Priya S M
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Automatic Detection and Blocking of cyber bullying by
                    Relatedness Calculation and Clustering
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Journal of Innovative Research in Technology
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    9
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Aditya S P, Hemanth m, Laksmikanth c k
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Effective Algorithm for Frequent
                </p>
                <p>
                    Pattern Mining
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    IEEE Conference ECDS
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    10
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Nishanth kumar
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    MJ
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Review of privacy concerns in IOT
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    IEEE Conference ICIOT
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    11
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    RavinderSingh, S K Chandan, V Sachin and S Surya, <em></em>
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Visualization Model for Viral Marketing
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    <em>
                        International Jornal of Soft Computing,Vol. 11, Issue
                        6,2016,ISSN: 1816-9503
                    </em>
                </p>
            </td>
            <td width="54" valign="top">
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    12
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Deepak R, SwaroopAradhya M C, Aishwarya M G, Geetha B S
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Automated Malaria Parasite Detection based on Image
                    Processing
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Journal for Research in Technological Studies
                </p>
            </td>
            <td width="54" rowspan="7" valign="top">
                <p >
                    2016
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    13
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Abhishek Singh Sambyal
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    AT
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Knowledge Abstraction from Textural Features of Brain MRI
                    Images for Diagnosing Brain Tumor using Statistical
                    Techniques and Associative
                </p>
                <p>
                    Classification
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    IEEE International Conference
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    13
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Sowmya
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Data Mining with Big Data
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    ICECS IEEE International Conference
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    14
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Chaitra K
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Web Personalized Recommendations using Intelligent
                </p>
                <p>
                    Techniques
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    IEEE nternational Conference
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    15
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Preethesh
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Modified apriori graph for frequent pattern
                </p>
                <p>
                    Mining
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    IEEE International Conference
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    16
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Monisha, Nagalakshmi
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    KRS
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Study on big data
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    ICETNCI (International
                </p>
                <p>
                    Conference on Emerging Technologies, Networking and
                    computational Intelligence)
                </p>
            </td>
        </tr>
        <tr>
            <td width="43" valign="top">
                <p >
                    17
                </p>
            </td>
            <td width="102" valign="top">
                <p>
                    Mamatha B R,
                </p>
            </td>
            <td width="60" valign="top">
                <p >
                    HP
                </p>
            </td>
            <td width="204" valign="top">
                <p>
                    Preventing Jamming Attacks (PJA) In TDMA Based WSN
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    International Journal of Computer Engineering and
                    Applications, ICCSTAR
                </p>
            </td>
        </tr>
    </tbody>
</table>

<ul  style="padding-left:20px;line-height:2;">
<li>In 2018-Harshitha M of 2014 batch student exhibit their project entitled “ smart stick for blind using IOT” in project exhibition cum competition 2018 organized by visvesvaraya technological university, Belgavi.</li>
<li> In 2016-SAMKITH K JAIN of 2016 batch student updated the software for feedback of students developed by  Naveen G and Shashank B S of 2015 batch.</li>
<li> Gangeshwar Krishnamurthy &amp; Neel Kirit won the “ACTAPULT 2015” Mobile App Development challenge conducted by ACTTV, Bangalore.</li>
<li> Gangeshwar Krishnamurthy &amp; Neel Kirit are selected to demo their Artificial Intelligent product to the Jury at a Global Mobile Challenge 2015 event by Citi Bank, Google, Microsoft, IBM, MasterCard, Thomson Reuters, Mu Sigma and other prominent organizations such as CIIE by IIMA, India. – <a href="http://www.citimobilechallenge.com/">www.citimobilechallenge.com</a></li>
<li> Gangeshwar Krishnamurthy has been selected by Google to be the Android Mentor for Bangalore Institute of Technology.</li>
<li> Students of CSE, BIT are runners up in BrainWaves 2015 hackathon conducted and mentored by Societe Generale Global Solution Centre, Bangalore.</li>
<li> Aman Alok of 2014 batch student has established venture “Unicorn Mark”.</li>
<li> Gangeshwar Krishnamurthy &amp; Roshan Chandrashekar participated in an International mobile contest named Google AdMob Challenge 2014 by Google.</li>
<li> Sharath S Bhargav, Suhas T S, Ullas Diwakar, Suchit Rotti of 2014 batch developed Android application for accessing of time table by individual faculties.</li>
<li> Abhay Sastry, Rajeev Hegde and Sanjeev Hegde of CSE branbch are the winners of Google Cloud Developer Challenge 2013.</li>
</ul>
<br>
<h3>WORKSHOPS CONDUCTED </h3>
<table class="table table-bordered table-sm"  cellspacing="0" cellpadding="0"  width="697">
    <tbody>
        <tr>
            <td width="43">
                <p >
                    <strong>Sl.</strong>
                </p>
                <p >
                    <strong>No.</strong>
                </p>
            </td>
            <td width="96">
                <p >
                    <strong>Date</strong>
                </p>
            </td>
            <td width="282">
                <p >
                    <strong>Title</strong>
                </p>
            </td>
            <td width="90">
                <p >
                    <strong>No. of Candidates</strong>
                </p>
            </td>
            <td width="186">
                <p >
                    <strong>In association with</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    1
                </p>
            </td>
            <td width="96">
                <p >
                    26<sup>th</sup>to 28<sup>th</sup>
                </p>
                <p >
                    Sep 2018
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day hands on workshop on
                </p>
                <p >
                    “Machine Learning-Deep Learning”
                </p>
            </td>
            <td width="90">
                <p >
                    60
                </p>
            </td>
            <td width="186">
                <p >
                    Anurada C,Corporate Trainer, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    2
                </p>
            </td>
            <td width="96">
                <p >
                    26<sup>th</sup> to 28<sup>th</sup>
                </p>
                <p >
                    Feb 2018
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day hands on workshop on
                </p>
                <p >
                    “Python with Machine Learning and Artificial Intelligence”
                </p>
            </td>
            <td width="90">
                <p >
                    71
                </p>
            </td>
            <td width="186">
                <p >
                    TechieAid, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    3
                </p>
            </td>
            <td width="96">
                <p >
                    2<sup>nd</sup> &amp; 3<sup>rd</sup>
                </p>
                <p >
                    Nov 2017
                </p>
            </td>
            <td width="282">
                <p >
                    2-Day hands on workshop on
                </p>
                <p >
                    “Cloud Computing and Virtualization”
                </p>
            </td>
            <td width="90">
                <p >
                    81
                </p>
            </td>
            <td width="186">
                <p >
                    Geekslab Technologies Pvt. Ltd., Noida.
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    4
                </p>
            </td>
            <td width="96">
                <p >
                    3<sup>rd</sup> to 5<sup>th</sup>
                </p>
                <p >
                    May 2017
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day hands on workshop on
                </p>
                <p >
                    “Cyber Security &amp;Ethical Hacking”
                </p>
            </td>
            <td width="90">
                <p >
                    73
                </p>
            </td>
            <td width="186">
                <p >
                    HACKENG, The Academy
                </p>
                <p >
                    of Ethical Hacking,
                </p>
                <p >
                    Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    5
                </p>
            </td>
            <td width="96">
                <p >
                    30<sup>th</sup>, 31<sup>st</sup> Jan &amp; 1<sup>st</sup>
                    Feb 2017
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day Workshop on “Microprocessors, ARM7 &amp; DAA
                    Laboratory courses
                </p>
            </td>
            <td width="90">
                <p >
                    61
                </p>
            </td>
            <td width="186">
                <p >
                    Advanced Electronic Systems, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    6
                </p>
            </td>
            <td width="96">
                <p >
                    3<sup>rd </sup>to 5<sup>th</sup>
                </p>
                <p >
                    Oct 2016
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day National level workshop on “Recent trends in IoT”
                </p>
            </td>
            <td width="90">
                <p >
                    114
                </p>
            </td>
            <td width="186">
                <p >
                    NIIT ,Kanakapura Road center, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    7
                </p>
            </td>
            <td width="96">
                <p >
                    28<sup>th </sup>to 31<sup>st</sup>
                </p>
                <p >
                    Mar 2016
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day hands on training on
                </p>
                <p >
                    “Python”
                </p>
            </td>
            <td width="90">
                <p >
                    74
                </p>
            </td>
            <td width="186">
                <p >
                    NIIT, Kanakapura Road Centre, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    8
                </p>
            </td>
            <td width="96">
                <p >
                    8<sup>th </sup>&amp; 9<sup>th</sup>
                </p>
                <p >
                    Oct 2015
                </p>
            </td>
            <td width="282">
                <p >
                    2-Day hands on workshop on “Linux Shell &amp; Python
                    Scripting”
                </p>
            </td>
            <td width="90">
                <p >
                    100
                </p>
            </td>
            <td width="186">
                <p >
                    Linux Learning Center Pvt. Ltd., Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    9
                </p>
            </td>
            <td width="96">
                <p >
                    25<sup>th</sup> &amp; 26<sup>th</sup>
                </p>
                <p >
                    Aug 2014
                </p>
            </td>
            <td width="282">
                <p >
                    2-Day hands on workshop on “HTML 5”
                </p>
            </td>
            <td width="90">
                <p >
                    110
                </p>
            </td>
            <td width="186">
                <p >
                    NIIT, Kanakapura Road Centre, Bangalore
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    10
                </p>
            </td>
            <td width="96">
                <p >
                    24<sup>th</sup> to 26<sup>th </sup>
                </p>
                <p >
                    Feb 2014
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day hands on workshop on “Android App Development”
                </p>
            </td>
            <td width="90">
                <p >
                    75
                </p>
            </td>
            <td width="186">
                <p >
                    Pravid Solutions Private Limited, Bengaluru.
                </p>
            </td>
        </tr>
        <tr>
            <td width="43">
                <p >
                    11
                </p>
            </td>
            <td width="96">
                <p >
                    28<sup>th</sup> to 30<sup>th</sup>
                </p>
                <p >
                    Aug 2013
                </p>
            </td>
            <td width="282">
                <p >
                    3-Day National level workshop on “Machine Intelligence and
                    Imaging Technologies (MI-IT 2013)”
                </p>
            </td>
            <td width="90">
                <p >
                    201
                </p>
            </td>
            <td width="186">
                <p >
                    Dept. of CSE, BIT, Bangalore.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br><br>

<h3>GOOGLE STUDENTS’ CLUB</h3>
<p >This club aims to facilitate students who can think out of the box and come up with revolutionary ideas and find a solution to various real world problems for the betterment of the society. The club aims to provide information on the new cutting edge technologies, competitions and opportunities that are provided by Google and also provides an opportunity to the students to interact with Google.<br>
<b>Headed by:</b> Gangeshwar Krishnamurthy<br>
<b>Members:</b> 200+<br>
<b>Past Activities:</b><br>
• Google Cloud Platform workshop conducted by Googlers.<br>
• Seminar on Google Cloud Developer Challenge<br>
• Conducted an inter-college hackathon and coding contests during college fest, Manthan.</p>
<h3>ANDROZIGN – ANDROID STUDENTS’ CLUB</h3>
<p >This club is started with the aim to develop a rich learning ambience at Bangalore Institute of Technology for Android Enthusiasts and Developers. This club is sponsored by Google India.<br>
<b>Headed by: </b>Gangeshwar Krishnamurthy<br>
<b>Members:</b> 75+<br>
<b>Past Activities:</b><br>
• 2 month long detailed Android Hands-on Workshop. A comprehensive and detailed workshop covering all concepts and implementation in Android OS. A total of 30 students learnt android in this workshop.<br>
<b>Upcoming events:</b><br>
• Another session of Android workshop as described above.</p>
<h3>TECHNOHOLIX CLUB</h3>
<p >This Club is started with the aim to upsurge the interaction between the students and provide them opportunities to engage in extracurricular activities.<br>
<b>Headed by:</b> Tathagat Nawadia and Gangeshwar Krishnamurthy<br>
<b>Members:</b> 300+<br>
<b>Past Activities:</b><br>
• A comprehensive 2 days hands-on Java workshop. 104 students attended this workshop.<br>
<b>Upcoming events:</b><br>
• Seminar on most exciting fields in IT such as Machine Learning, Hadoop, Artificial Intelligence etc.</p>						