
    <p > The Department motivates staff towards research other than teaching. Research center of
CSE has 4 guides namely Dr. Asha. T, Dr. D. G. Jyothi, Dr. K. R. Sunitha and Dr. M.
Kempanna and around 14 students are working as research scholars under various themes
like image processing, web mining, medical data mining, networking etc.</p>


<h3 style="color:red;">List of Faculty members guiding Ph.D. students</h3>
<table class="table table-bordered table-sm"><tbody>
<tr><td width="20">
<p><strong>Slno</strong></p>
</td>
<td width="90">
<p><strong>Supervisor Name </strong></p>
</td>
<td width="130">
<p><strong>No of Candidates</strong></p>
</td>
<td width="150">
<p><strong>Scholar Name</strong></p>
</td>
<td width="199">
<p><strong>Research Topic</strong></p>
</td>
</tr>

<tr>
<td rowspan="6">1</td>
<td rowspan="6" width="120">
<p>Dr Asha T</p>
</td>
<td rowspan="6">5</td>
</tr>

<tr>
<td width="50">
<p >Roopa H</p>
</td>
<td width="200">
<p >Efficient data mining algorithm to analyze Tuberculosis data.</p>
</td>
</tr>

<tr>
<td width="50">
<p >Shobha N</p>
</td>
<td width="200">
<p >Knowledge Extraction from Agrometeorological data using soft Computing techniques.</p>
</td>
</tr>

<tr>
<td width="50">
<p >Sagar Metri</p>
</td>
<td width="200">
<p >Estimation and Removal of noise from the image &amp; transmission using WSN for Knowledge Extraction</p>
</td>
</tr>

<tr>
<td width="50">
<p >Maya B S</p>
</td>
<td width="200">
<p >Efficient feature Reduction and classification for the detection of brain stroke in CT Images</p>
</td>
</tr>

<tr>
<td width="50">
<p >Nibedita Panigrahi</p>
</td>
<td width="200">
<p >An Efficient Web Data Model for Data Extraction and Annotation</p>
</td>
</tr>


<tr>
<td width="20">
<p>2</p>
</td>
<td width="90">
<p>Dr.Jyoti D G</p>
</td>
<td width="130">
<p>1</p>
</td>
<td width="150">
<p>Leena C</p>
</td>
<td width="199">
<p>Adaptive Security to Cyber Security Safety Concern for Downlinks in
Non-Governmental and Public
Networks</p>
</td>
</tr>

<tr>
<td rowspan="4">3</td>
<td rowspan="4" width="120">
<p>Dr. Suneetha K R</p>
</td>
<td rowspan="4">3</td>
</tr>
<tr>
<td width="50">
<p >Sowmya R</p>
</td>
<td width="200">
<p >Evaluation model for Analysis Prediction and Decision Making
with Big Data</p>
</td>
</tr>

<tr>
<td width="50">
<p >Chaitra H K</p>
</td>
<td width="200">
<p >A novel approach for web personalized recommendation using Intelligent Temporal Extraction and Analysis Model</p>
</td>
</tr>

<tr>
<td width="50">
<p >Nithin K P</p>
</td>
<td width="200">
<p >Retrieving most relevant Web information through the perspective Re-ranking systemv</p>
</td>
</tr>

<tr>
<td rowspan="4">4</td>
<td rowspan="4" width="120">
<p>Dr. Kempanna M</p>
</td>
<td rowspan="4">3</td>
</tr>
<tr>
<td width="50">
<p >Kiran Aradhya S T</p>
</td>
<td width="200">
<p >A heuristic mechanism for IDS to secure Malicious nodes in MANET's using Multi-Level Authentication System</p>
</td>
</tr>

<tr>
<td width="50">
<p >Manjunatha K M</p>
</td>
<td width="200">
<p >Assessment and improvement of effectiveness of web security mechanisms by implementing vulnerability and attack injection tools </p>
</td>
</tr>

<tr>
<td width="50">
<p >Nandini S</p>
</td>
<td width="200">
<p >A multi objective adaptive swarm optimization for wireless sensor networks</p>
</td>
</tr>

</tbody></table>

<p>Academic research includes research paper publications, Ph.D. guidance, and faculty
receiving Ph.D. during the assessment period.
</p><ul>

<li> Number of quality publications in refereed/SCI Journals, citations, Books/Book
Chapters etc. (6)</li>
<li>Ph.D. guided /Ph.D. awarded during the assessment period while working in the
institute (4)</li>
<p></p>
</ul>

<h2>Refereed /SCI Journals National / International Conference/Citations</h2>
<table class="table table-bordered table-sm"><tbody>
<tr>
<td width="20">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="20">
<p><strong>National/ International Conferences</strong></p>
</td>

<td width="20">
<p><strong>International journals</strong></p>
</td>

<td width="20">
<p><strong>Indexing</strong></p>
</td>
<td width="20">
<p><strong>#Citations</strong></p>
</td>

<td width="20">
<p><strong>H-index</strong></p>
</td>
</tr>
<tr>
<td width="20">
<p>Dr.Asha T </p>
</td>
<td width="20">
<p>16</p>
</td>
<td width="20">
<p>22</p>
</td>
<td width="20">
<p>4-Scopus Journal 6-Scopus
Conference</p>
</td>
<td width="20">
<p>76</p>
</td>
<td width="20">
<p>7</p>
</td>
</tr>

<tr>
<td width="20">
<p>Shobha Y</p>
</td>
<td width="20">
<p>1</p>
</td>

<td width="20">
<p> - </p>
</td>

<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p>Dr.Jyothi D G </p>
</td>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p>5</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p>6</p>
</td>
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p>Dr.Vijaya Kumar</p>
</td>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p>9</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p>Girija J </p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>2</p>
</td>
<td width="20">
<p>1-Scopus</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
</tr>


<tr>
<td width="20">
<p>Shankar Gowda B N </p>
</td>
<td width="20">
<p>2</p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p>Dr .Suneetha K R</p>
</td>
<td width="20">
<p>16</p>
</td>
<td width="20">
<p>10</p>
</td>
<td width="20">
<p> 1-Inderscience Journal </p>
</td>
<td width="20">
<p> 252 </p>
</td>
<td width="20">
<p> 6 </p>
</td>
</tr>

<tr>
<td width="20">
<p> Savith S K </p>
</td>
<td width="20">
<p>2</p>
</td>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> 1 </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Harish Kumar B T </p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> 6 </p>
</td>    
<td width="20">
<p> 2 </p>
</td>
</tr>

<tr>
<td width="20">
<p> Dr.Kempanna M </p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p> 1- Scopus</p>
</td>
<td width="20">
<p> - </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>
<tr>
<td width="20">
<p> Nagamani D R </p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p></p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Hemavathi P </p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>6</p>
</td>
<td width="20">
<p> 2- Scopus</p>
</td>
<td width="20">
<p> 3</p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Bhargavi M S </p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p> 1-Scopus Journal 2-Scopus Conference </p>
</td>
<td width="20">
<p> 7 </p>
</td>    
<td width="20">
<p> 1 </p>
</td>
</tr>

<tr>
<td width="20">
<p> Bhanushree K J </p>
</td>
<td width="20">
<p>- </p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> -  </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Maya B S </p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> - </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Madhuri J </p>
</td>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>- </p>
</td>
<td width="20">
<p> - </p>
</td>
<td width="20">
<p> 5 </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>

<tr>
<td width="20">
<p> Gunavathi H S </p>
</td>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p> 3-Scopus </p>
</td>
<td width="20">
<p> - </p>
</td>    
<td width="20">
<p> - </p>
</td>
</tr>
</tbody></table>

<h2>Research Publications (Journals)</h2>

<h3 style="color:red;">Journal Publications by Faculty Members in the Year 2018-19</h3>

<table class="table table-bordered table-sm"><tbody>
<tr><td width="24">
<p><strong>Slno</strong></p>
</td>
<td width="115">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="163">
<p><strong>Title of the paper</strong></p><strong>
</strong></td>
<td width="181">
<p><strong>Refereed Journal or Not</strong></p>
</td>
<td width="113">
<p><strong>Publications details(Journal name, Vol, Issue, pp, month &amp; year, ISSN/ISBN number, Impact factor)</strong></p>
</td>
<td width="113">
<p><strong>No. of Citations.</strong></p>
</td></tr>

<tr><td width="24">
<p>1</p>
</td>
<td width="115">
<p>Gunavathi H S</p>
</td>
<td width="163">
<p>Automatic Facial Expression Recognition based on MRELBP and Compressive Sensing</p>
</td>
<td width="181">
<p>Yes (Scopus Indexed)</p>
</td>
<td width="113">
<p>ARPN Journal of Engineering and Applied Sciences, Vol. 13, No. 15, pp 4489 4495, August 2018, ISSN: 1819-6608, Impact factor:0.473</p>
</td>
<td width="113">
<p><strong>Nil</strong></p>
</td></tr>

<tr><td width="24">
<p>2</p>
</td>
<td width="115">
<p>Gunavathi H S</p>
</td>
<td width="163">
<p>Automatic Recognition of Cognitive States Using Multimodal Approaches in e-Learning Environments</p>
</td>
<td width="181">
<p>Yes (Scopus Indexed)</p>
</td>
<td width="113">
<p>Journal of Engineering and Applied Sciences, Vol. 14, No. 4, pp 1286-1294, 2019, ISSN: 1816-949X, Impact factor: 0.380</p>
</td>
<td width="113">
<p><strong>Nil</strong></p>
</td></tr>

</tbody></table>

<h2><strong>Journal Publications by Faculty Members in the Year 2017-18</strong></h2>

<table class="table table-bordered table-sm"><tbody>
<tr><td width="24">
<p><strong>Slno</strong></p>
</td>
<td width="115">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="163">
<p><strong>Title of the paper</strong></p><strong>
</strong></td>
<td width="181">
<p><strong>Refereed Journal or Not</strong></p>
</td>
<td width="113">
<p><strong>Publications details(Journal name, Vol, Issue, pp, month &amp; year, ISSN/ISBN number, Impact factor)</strong></p>
</td>
<td width="113">
<p><strong>No. of Citations.</strong></p>
</td></tr>

<tr><td width="24">
<p>1</p>
</td>
<td width="115">
<p>Dr. Asha T</p>
</td>
<td width="163">
<p>Feature Extraction of Chest X-ray Images and Analysis Using PCA and KPCA</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>International Journal of Electrical and Computer Engineering (IJECE), 8 (5),2018, H Index, H Index, SJR=0.3</p>
</td>
<td width="113">
<p>1</p>
</td></tr>

<tr><td width="24">
<p>2</p>
</td>
<td width="115">
<p>Girija J</p>
</td>
<td width="163">
<p>Gradient Analysis of3-D Image Sequence using DTCWT and DD DTCWT</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>International Journal of Electronics, Electrical and Computational System IJEECS ISSN  2348-117X Volume 6, Issue 9 , September 2017 /2.41</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>3</p>
</td>
<td width="115">
<p>Girija J</p>
</td>
<td width="163">
<p>Fast Registration Algorithm for 3D Medical Images using Double Density Dual Tree Complex Wavelet Transform and Bi-directional Prediction,</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>International Journal of Computer Science Issues(IJCSI)/Vol 15/ Issue 1, January 2018/ ISSN (Print): 1694-0814 | ISSN (Online): 1694- 0784</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>4</p>
</td>
<td width="115">
<p>Dr. Vijaya Kumar T</p>
</td>
<td width="163">
<p>Automatic Recognition of Cognitive States Using Multimodal Approaches in e-Learning Environments</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>JHybrid techniques for clustering Web usage data</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>5</p>
</td>
<td width="115">
<p>Savitha S K</p>
</td>
<td width="163">
<p>Framework for Progressive Segmentation of Chest Radiograph for Efficient Diagnosis of Inert Regions</p>
</td>
<td width="181">
<p>Yes</p>
</td>
<td width="113">
<p>International Journal of Electrical and Computer Engineering (IJECE),Vol 9, No 2: April 2018, ISSN: 2088-8708</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>6</p>
</td>
<td width="115">
<p>Savitha S K</p>
</td>
<td width="163">
<p>Comprehensive Classification Model for Diagnosing Multiple Disease Condition from Chest X-Ray</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>JInternational Journal of Advanced Computer Science And Applications (IJACSA) Vol. 9, No. 9, 2018. U.S ISSN : 2156-5570 <b>Impact factor:1.6</b></p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>7</p>
</td>
<td width="115">
<p>Harish Kumar B T</p>
</td>
<td width="163">
<p>Personalized Recommendation of web Pages Using Group Average Agglomerative Hierarchical Clustering (GAAHC)</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>World Scientific and Engineering Academy of Society Transactions on Computer Research Vol 6, pp 71-78, E- ISSN: 2415-1521, 2018. Impact factor : 1.03</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>8</p>
</td>
<td width="115">
<p>Nagamani D R</p>
</td>
<td width="163">
<p>Privacy retaining Data Encryption method for Big data in Cloud computing</p>
</td>
<td width="181">
<p></p>
</td>
<td width="113">
<p>International Journal for Scientific research &amp; development Volume 6,ISSN:23210613 June-2018</p>
</td>
<td width="113">
<p>1</p>
</td></tr>

<tr><td width="24">
<p>9</p>
</td>
<td width="115">
<p>Nagamani D R</p>
</td>
<td width="163">
<p>Robust and Auditable data access from Cloud with multiple authorities</p>
</td>
<td width="181">
<p></p>
</td>
<td width="113">
<p>JInternational Journal for Scientific research &amp; development Volume 6,ISSN:23210613 June-2018</p>
</td>
<td width="113">
<p>1</p>
</td></tr>

<tr><td width="24">
<p>10</p>
</td>
<td width="115">
<p>Hemavathi P</p>
</td>
<td width="163">
<p>Novel Scheme for minimal iterative PSO algorithm for extending Network lifetime of Wireless Sensor Network</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>International Journal of Electrical and Computer Engineering (IJECE) Volume 8, No 2,page No.1084-1091 April 2018 ISSN:2088-8708 DOI:10.11591 SJR:0.3</p>
</td>
<td width="113">
<p>Nill</p>
</td></tr>

<tr><td width="24">
<p>11</p>
</td>
<td width="115">
<p>Hemavathi P</p>
</td>
<td width="163">
<p>Novel Bacteria Foraging Optimization for Energy-Efficient Communication in Wireless Sensor Network.</p>
</td>
<td width="181"> 
<p>Yes</p>
</td>
<td width="113">
<p>International Journal of Electrical and Computer Engineering (IJECE) Volume 8, No 6,page No.4755-4762 December 2018 ISSN: 2088-8708 DOI:10.11591 SJR:0.3</p>
</td>
<td width="113">
<p>3</p>
</td></tr>

<tr><td width="24">
<p>12</p>
</td>
<td width="115">
<p>Hemavathi P</p>
</td>
<td width="163">
<p>Anti-Malware Phishing QR Scanner</p>
</td>
<td width="181">
<p>No</p>
</td>
<td width="113">
<p>JIJISRT Volume 3 Issue 5 Page No. 346-351 May 2018 ISSN: 2456- 2165 Impact Factor: 5.15</p>
</td>
<td width="113">
<p>Nill</p>
</td></tr>

<tr><td width="24">
<p>13</p>
</td>
<td width="115">
<p>Hemavathi P</p>
</td>
<td width="163">
<p>Web Forensics Evidence System</p>
</td>
<td width="181">
<p>No</p>
</td>
<td width="113">
<p>IRJET Volume 5 Issue 5 Page No. 3222-3225 May 2018 ISSN: e- 2395-0056 p-2395-0072
Impact Factor : 7.2</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>14</p>
</td>
<td width="115">
<p>Bhanushree K J</p>
</td>
<td width="163">
<p>A Novel method using Local and Global features for face recognition</p>
</td>
<td width="181">
<p>No</p>
</td>
<td width="113">
<p>International Journal of Emerging trends and technology in computer Science(IJETTCS).Volu me 7,Impact factor- 7.143,ISSUE 1,January - February2018,pp. 009- 015,ISSN 2278-6856.</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>15</p>
</td>
<td width="115">
<p>Gunavathi H S</p>
</td>
<td width="163">
<p>A Survey of Techniques for Automatic Facial Expression Recognition</p>
</td>
<td width="181">
<p>Yes </p>
</td>
<td width="113">
<p>International Journal of Emerging Technology and Advanced Engineering,Vol. 7, No. 9,pp 650-655, Sep 2017, ISSN: 2250-2459, Impact factor: 6.351.</p>
</td>
<td width="113">
<p>2</p>
</td></tr>

<tr><td width="24">
<p>16</p>
</td>
<td width="115">
<p>Gunavathi H S</p>
</td>
<td width="163">
<p>Robust Hybrid Framework for Automatic Facial Expression Recognition</p>
</td>
<td width="181">
<p>Yes (Scopus Indexed)</p>
</td>
<td width="113">
<p>International Journal of Engineering &amp; Technology(UAE), Vol. 7, No. 2,pp 568-572, April 2018, ISSN: 2227- 524X, Impact factor:0.102, DOI:&nbsp;10.14419/ijet.v7i2.
10764,</p>
</td>
<td width="113">
<p>Nil</p>
</td></tr>
</tbody></table>

<h2>Journal Publications by Faculty Members in the Year 2016-17</h2>
<table class="table table-bordered table-sm"><tbody>
<tr>
<td width="20">
<p><strong>Sl.No</strong></p>
</td>
<td width="20">
<p><strong>Name of the Faculty</strong></p>
</td>

<td width="80">
<p><strong>Title of Paper</strong></p>
</td>

<td width="20">
<p><strong>Refereed Journal or Not</strong></p>
</td>
<td width="150">
<p><strong>Publications details (Journal name, Vol, issue, pp, month&amp;year, ISSN/ISBN number, Impact factor)</strong></p>
</td>

<td width="20">
<p><strong>No. of Citations</strong></p>
</td>
</tr>

<tr>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>Recommendation of Hashtags for Effective Organization of Tweets Using Frequent Pattern Mining</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>European Journal of Advances in Engineering and Technology, Vol.4, Issue 5, 2017:383-389, Impact Factor= 3.569</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>


<tr>
<td width="20">
<p>2</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>Extending Qlik Sense  Data Visualization and embedding it in Web Application</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>International Journal of Innovative Research in Technology, Vol.4, Issue3, 2017,ISSN:2349-6002, Impact Factor= 5.86</p>
</td>
<td width="20">
<p>Nil</p>
</td>

</tr><tr>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>Automatic Detectionand Blocking of cyberbullying by Relatedness Calculation and Clustering</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>International Journal of Innovative Research in Technology,Vol. 4, Issue 3, 2017,
ISSN:2349-6002, Impact Factor=5.86</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>


<tr>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>Automatic Detection of Brain Strokes in CT Images Using Soft Computing
Techniques</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>Biologically rationalized computing techniques for Image Processing Applications book chapter published in springer LNCVB series Sept. 2017 Springer
Publication, Vol.25, pp. 85-109, OCT 2017.Print ISBN :978-3-319-61315-4
(doi:10.1007/978-3-319- 61316-1-5)</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>

<tr>
<td width="20">
<p>5</p>
</td>
<td width="20">
<p>Dr.Vijaya Kumar T</p>
</td>
<td width="80">
<p>Deep Web Crawler: Exploring and Re- ranking of Web Forms</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>Deep Web Crawler: Exploring and Re- ranking of Web Forms</p>
</td>
<td width="20">
<p>1</p>
</td>
</tr>

<tr>
<td width="20">
<p>6</p>
</td>
<td width="20">
<p>Savitha S K</p>
</td>
<td width="80">
<p>Study for Assessing the Advancement of Imaging Techniques in Chest Radiographic Images</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>Scientific Journal on Communications on Applied Electronics (CAE) – Volume 4–
No.5, February 2016, ISSN : 2394-4714 , Impact factor:3</p>
</td>
<td width="20">
<p>1</p>
</td>
</tr>

<tr>
<td width="20">
<p>7</p>
</td>
<td width="20">
<p>Nagamani D R</p>
</td>
<td width="80">
<p>Forgery and packet drop detection using Bloom filter Mechanism in Wireless Sensor Network</p>
</td>
<td width="20">
<p></p>
</td>
<td width="150">
<p>2 nd National Conference on Advancements in Information Technology May 2&amp;3 rd 2016 JSSAITE,Bengalore </p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>

<tr>
<td width="20">
<p>8</p>
</td>
<td width="20">
<p>Hemavathi P</p>
</td>
<td width="80">
<p>Preventing Jamming Attacks (PJA) In TDMA Based WSN</p>
</td>
<td width="20">
<p>No</p>
</td>
<td width="150">
<p>International Journal of Computer Engineering and Applications, ICCSTAR-2016, Special Issue, May.16 page No.256-262</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>

<tr>
<td width="20">
<p>9</p>
</td>
<td width="20">
<p>Maya B S</p>
</td>
<td width="80">
<p>Automatic Detection of Brain Stroke in CT Images using Soft Computing Techniques</p>
</td>
<td width="20">
<p>Yes</p>
</td>
<td width="150">
<p>Biologically Rationalized Computing Techniques for Image Processing Application, Lecturer Notes in Computational Vision and Biomechanics series, Springer Publication,Vol.25, pp. 85-109, OCT 2017.  Print ISBN :978-3-319-
61315-4 (doi:10.1007/978-3-319-61316-1-5)</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>

</tbody></table>

<h3 style="color:red;">Research Publications (Conferences)</h3>
<h2> Conference Publications by Faculty Members in the Year 2017-18</h2>
<table class="table table-bordered table-sm"><tbody>
<tr><td width="24">
<p><strong>Slno</strong></p>
</td>
<td width="85">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="120">
<p><strong>Title of the paper</strong></p><strong>
</strong></td>
<td width="180">
<p><strong>Publications details (Vol, issue, pp,
month &amp; year, ISSN/ISBN number)</strong></p>
</td>
<td width="30">
<p><strong>No. of Citations.</strong></p>
</td></tr>

<tr><td width="24">
<p>1</p>
</td>
<td width="85">
<p>Dr. Asha T</p>
</td>
<td width="120">
<p>Analysis of Feature
<br>Ranking Methods on X-Ray Images</p>
</td>
<td width="180">
<p>Proceedings of the International Conference on ISMAC in Computational Vision and Bio Engineering 2018 (ISMAC-CVB), pp 1393-1403, SCOPUS</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>2</p>
</td>
<td width="85">
<p>Girija J</p>
</td>
<td width="120">
<p>4D medical image registration: A survey</p>
</td>
<td width="180">
<p>International conference on Intelligent sustainable systems ICISS 7-8 December 2017/ ISBN:978-1-5386- 1959-9/</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>3</p>
</td>
<td width="85">
<p>Girija J</p>
</td>
<td width="120">
<p>Multimodal 3D Medical Image Registration Algorithm Using Dual Tree
Complex Wavelet Sub band</p>
</td>
<td width="180">
<p>International&nbsp;Conference&nbsp;on Materials, Applied Physics &amp; Engineering (ICMAE) June 3 rd - 4 th 2018</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>


<tr><td width="24">
<p>4</p>
</td>
<td width="85">
<p>Dr.Suneetha K R</p>
</td>
<td width="120">
<p>Overview on Big data Tools</p>
</td>
<td width="180">
<p>International Conference on Recent Research and Innovations in Social Science, Humanities, Osmania University Campus, Hyderabad, Telangana, India, accepted for Academic science, UGC Approved journal, Vol -7,Issue 9,November 2018.</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>5</p>
</td>
<td width="85">
<p>Hemavathi.P</p>
</td>
<td width="120">
<p>Intellectual Property Management Using Block Chain</p>
</td>
<td width="180">
<p>International Conference on Inventive Computation Technologies (ICICT),November 2018 IEEE Xplore: 978-1-5386-4985-5</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>


<tr><td width="24">
<p>6</p>
</td>
<td width="85">
<p>Gunavathi H S</p>
</td>
<td width="120">
<p>Towards Cognitive State Detection using Facial Expression and Hand-over-Face
Gesture</p>
</td>
<td width="180">
<p>In Proceedings of 3 rd IEEE International Conference on Recent Trends in
Electronics, Information &amp; Communication Technology (RTEICT), 2018, Bengaluru,</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>7</p>
</td>
<td width="85">
<p>Harish Kumar B T</p>
</td>
<td width="120">
<p>Web Page Ranking Based on Query and Title Semantic Similarity Using Modified Wu-Palmer Metric (MWUP)</p>
</td>
<td width="180">
<p>International Conference Organized by Rajarajeswari College of Engineering
in Association with IEEE Bangalore Section , Bengaluru, India on 17 th &nbsp;to 18 th &nbsp;May 2018.(Received Best Paper Award) Proceedings ISBN: 978-93-88775-00-7</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>8</p>
</td>
<td width="85">
<p>Bhargavi M S</p>
</td>
<td width="120">
<p>Cluster Representation and Discrimination based on Regression Line</p>
</td>
<td width="180">
<p>Springer Publication International Conference on Cognitive Computing and Information Processing, Communications in Computer and Information Science,
Volume 801, Pages 210-226,Springer, 2018 ISBN:978-981-10-9059-2</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>

<tr><td width="24">
<p>9</p>
</td>
<td width="85">
<p>Maya B S</p>
</td>
<td width="120">
<p>Brain Stoke Detection using Integrated K means and FCM in Brain Images”</p>
</td>
<td width="180">
<p>IEEE International Conference on Recent Innovations in Electrical, Electronics &amp; Communication Engineering (ICRIEECE) organized by School of Electrical Engineering, Kalinga Institute of Industrial Technology (KIIT), Bhubaneswar ,India on 27 th &amp; 28 th July 2018</p>
</td>
<td width="30">
<p>Nil</p>
</td></tr>
</tbody></table>

<h2>Journal Publications by Faculty Members in the Year 2016-17</h2>
<table class="table table-bordered table-sm"><tbody>
<tr><td width="24">
<p><strong>Slno</strong></p>
</td>
<td width="85">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="120">
<p><strong>Title of the paper</strong></p><strong>
</strong></td>
<td width="180">
<p><strong>Publications details (Vol, issue, pp,
month &amp; year, ISSN/ISBN number)</strong></p>
</td>
<td width="30">
<p><strong>No. of Citations.</strong></p>
</td></tr>


<tr>
<td width="20">
<p>1</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>Monitoring weather based meteorological data: Clustering approach for analysis</p>
</td>
<td width="150">
<p>IEEE - International Conference on Innovative Mechanisms for Industry
Applications (ICIMIA-2017), 978-1- 5090-5960-7/17 SCOPUS</p>
</td>
<td width="20">
<p>4</p>
</td>
</tr>

<tr>
<td width="20">
<p>2</p>
</td>
<td width="20">
<p>Dr. Asha T</p>
</td>
<td width="80">
<p>DNA Based Disease Prediction Using Pathway Analysis</p>
</td>
<td width="150">
<p>Advance Computing Conference (IACC), 2017 IEEE 7 th International, 629-634. SCOPUS</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>


<tr>
<td width="20">
<p>3</p>
</td>
<td width="20">
<p>Girija J</p>
</td>
<td width="80">
<p>Comparative study of DWT and DTCWT for 3D Medical Image Registration</p>
</td>
<td width="150">
<p>International Conference on Advances in Computer Science and Technology (IC-ACT’18) – January 2018 ISSN: 2395-1303</p>
</td>
<td width="20">
<p>Nil</p>
</td>
</tr>

<tr>
<td width="20">
<p>4</p>
</td>
<td width="20">
<p>Dr.Suneetha K R</p>
</td>
<td width="80">
<p>Effective Technique in Frequent Pattern Mining.</p>
</td>
<td width="150">
<p>IEEE International conference on Energy, Communication, Data Analytics and Soft Computing (ICECDS), organized by SKR Institute of Techmonolgy,978-1-5386-1887-5, Pg. No. 704-708, 2017.</p>
</td>
<td width="20">
<p>1</p>
</td>
</tr>

<tr>
<td width="20">
<p>5</p>
</td>
<td width="20">
<p>Harish Kumar B T</p>
</td>
<td width="80">
<p>Web Page Access Prediction Using&nbsp;pal K R, “Web Page Access Prediction Using Hierarchical Clustering Based on Modified Levenshtein Distance and Higher Order
Markov Model</p>
</td>
<td width="150">
<p>IEEE International Conference organized by IEEE Region 10 Symposium (TENSYMP-2016), Bali, Indonesia on 9 th &nbsp;to 11 th &nbsp;May 2016.</p>
</td>
<td width="20">
<p>3</p>
</td>
</tr>


<tr>
<td width="20">
<p>6</p>
</td>
<td width="20">
<p>Madhuri J</p>
</td>
<td width="80">
<p>“Review on security and privacy concerns in Internet of Things”</p>
</td>
<td width="150">
<p>IEEE International Conference on IoT and Application (ICIOT), 2017, pp. 1-5.
doi:10.1109/ICIOTA.2017.8073640</p>
</td>
<td width="20">
<p>5</p>
</td>
</tr>

</tbody></table>

<h2 style="color:red;"><strong>Details of books published by faculties</strong></h2>
<h1><strong>List of Books Published</strong></h1>

<table class="table table-bordered table-sm"><tbody>
<tr><td width="24">
<p><strong>Slno</strong></p>
</td>
<td width="80">
<p><strong>Name of the Faculty</strong></p>
</td>
<td width="100">
<p><strong>Title </strong></p>
</td>
<td width="50">
<p><strong>Sem/Branch</strong></p>
</td>
<td width="113">
<p><strong>Year of Publications</strong></p>
</td>
<td width="80">
<p><strong>Name of the publisher</strong></p>
</td></tr>

<tr><td width="24">
<p>1</p>
</td>
<td width="80">
<p>Prof. Keshav Murthy S</p>
</td>
<td width="100">
<p>Microprocessor and Microcontrollers</p>
</td>
<td width="50">
<p>4 th sem/ BE / CS&amp;E/ ISE</p>
</td>
<td width="113">
<p>CBCS 2016-17</p>
</td>
<td width="80">
<p>SUNSTAR</p>
</td></tr>

<tr><td width="24">
<p>2</p>
</td>
<td width="80">
<p>Mrs. Nagamani D R</p>
</td>
<td width="100">
<p>Cryptography and Network security</p>
</td>
<td width="50">
<p>6 th sem/ BCA/CS&amp;E</p>
</td>
<td width="113">
<p>2017</p>
</td>
<td width="80">
<p>SKYWARD</p>
</td></tr>
</tbody></table>