{% extends "layout.html" %}
{% block title %}DEPARTMENT OF CIVIL ENGINEERING{% endblock %}
{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(http://localhost:8080/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF CIVIL ENGINEERING</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p >The Civil Engineering department is one of the first departments established by the college during 1979 with an intake of 90. Currently the department has an intake of 180 students. The department was established with an objective to train and develop Civil Engineering Professionals who will be sensitive and serve for the betterment of the society. It is doing its best with the support of competent faculty and well equipped laboratories to develop quality civil engineers.<br><br>

                      The department is also offering M.Tech Program in Structural Engineering with an intake of 18 students. The department is recognized as Research Centre by Visvesvaraya Technological University and offers M. Sc. Engineering (by Research) and PhD Programs. We have association with acclaimed professional bodies.<br><br>
                      
                      Our students have excelled in extracurricular activities and have brought many prizes and awards in ICI and ACCE(I). students have been placed in consultancy firms, construction industries, infrastructure facilitators and Government sectors.</p><br><br>
                        
                                <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
                                    <img src="http://localhost:8080/faculty/CV01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. H. B. Balakrishna</h5>
                                        <p class="card-text">Prof. & Head of the Dept
                                            </p>
                                        </div>
                                    </div></div>
                               
                            
                            <!-- Team Member Area -->
                            <div class="section-heading mt-30">
                               <h5> Vision and Mission </h5>
                            </div>
                           
                              <h3>VISION </h3>
              <p >To become a center of excellence in Academics, Research and Consultancy by imparting quality education and developing competent civil engineering professionals who will be sensitive, ethical and serve for the betterment of the society.</p>
              <h3>MISSION</h3>
              <ul  style="color:#666666;padding-left:20px"><li>To train civil engineering students to graduate with knowledge and skills required to solve civil engineering problems, to become leaders in organizations and for a wide range of careers.</li>
              <li>To create civil engineering professionals through collaborative programs with professional bodies, research organisations and industry for the betterment of the society.</li>
              <li>To be recognized by the industry as a centre of excellence for Research and Development to solve civil engineering problems.</li>
              <li>To create a learning environment and provide limitless possibilities to students and staff to excel in their careers</li>
              </ul><h3 style="padding-top:20px">PROGRAM EDUCATIONAL OBJECTIVES</h3>
              <ul  style="color:#666666;padding-left:20px"><li>PEO1: will be trained to excel in their professional career by acquiring factual, analytical, procedural, application and creative knowledge in mathematical, computing and civil engineering principles.</li>
              <li>PEO2: Will be trained to analyze and design practically sustainable civil engineering systems which involve sound civil engineering skills, optimum and acceptable solutions to the society.</li>
              <li>PEO3: Will be trained to exhibit professionalism, ethics with good communications skills background.</li>
              <li>PEO4:Will be trained in continuing education and engage them in lifelong learning to be competitive and enterprising </li>
              </ul><h3 style="padding-top:20px">PROGRAM SPECIFIC OUTCOMES (PSOs)</h3>
              <ul  style="color:#666666;padding-left:20px">
              <li>PSO1: The graduates will have the ability to plan, analyze, design, execute and maintain cost effective civil engineering structures without over exploitation of natural resources.</li>
              <li>PSO2: The graduates of civil engineering program will have the ability to take up employment, entrepreneurship, research and development for sustainable civil society.</li>
              <li>PSO3: The graduates will be able to peruse opportunities for personal and professional growth, higher studies, demonstrate leadership skills and engage in lifelong learning by active participation in the civil engineering profession.</li>
              <li>PSO4: The graduates will be able to demonstrate professional integrity and an appreciation of ethical, environmental, regulatory and issues relative to civil engineering projects.</li></ul>		
              
                <!-- Faculty-->   
                <div class="section-heading mt-30">
                  <h5>Faculty</h5>
              </div>
              {% for fac in facs %}
              <!-- Single Team Member -->
              <a href="#" style="margin: 10px;">
              <div class="single-team-member d-flex align-items-center">
                  <div class="team-member-thumbnail">
                      <img src="http://localhost:8080/faculty/{{fac[0]}}.jpg" alt="">
                      
                  </div>
                  <div class="team-member-content">
                      <h6>{{fac[1]}}</h6>
                      <span>{{fac[2]}}</span>
                      Qualification:-{{fac[3]}}<br>
                         Email:- {{fac[4]}}
                      
                  </div>
              </div>
              </a>
              {% endfor %}
                            </div>
                             

                            
                        </div>
                        
                        
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 box-shadow">
                                
                                <div class="section-heading">
                                    <h5>Other Links</h5>
                                </div>
                                <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">
                                
                                <div class="social-followers-info">
                                    <button id="achBtn" class="btn" ><span>Achievements </span></button>
                                    <button class="btn" id="iBtn"><span>Infrastructure </span></button>
                                    <button class="btn" id="rBtn"><span>Research </span></button>
                                    <button class="btn" id="pBtn" ><span>Post Graduate </span></button>
                                    <br>
                                </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### About Us Area End ##### -->
            
            <div id="aModal" class="amodal">

                <!-- Modal content -->
                <div class="amodal-content">
                  <span class="aclose">&times;<br></span>
                  {% include "cv_ach.html" %}

                </div>


            </div>

            <div id="iModal" class="imodal">

                <!-- Modal content -->
                <div class="imodal-content">
                  <span class="iclose">&times;<br></span>
                  {% include "cv_infra.html" %}

                </div>


            </div>

            <div id="rModal" class="rmodal">

                <!-- Modal content -->
                <div class="rmodal-content">
                  <span class="rclose">&times;<br></span>
                  {% include "cv_research.html" %}

                </div>


            </div>

            <div id="pModal" class="pmodal">

                <!-- Modal content -->
                <div class="pmodal-content">
                  <span class="pclose">&times;<br></span>
                  {% include "cv_post.html" %}

                </div>


            </div>

            <script>


//Acievement
  // Get the modal
var amodal = document.getElementById("aModal");

// Get the button that opens the modal
var abtn = document.getElementById("achBtn");

// Get the <span> element that closes the modal
var aspan = document.getElementsByClassName("aclose")[0];

// When the user clicks on the button, open the modal 
abtn.onclick = function() {
  console.log("Click");
  amodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
aspan.onclick = function() {
  amodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == amodal) {
    amodal.style.display = "none";
  }
}

//Infrastructure
  // Get the modal
  var imodal = document.getElementById("iModal");

// Get the button that opens the modal
var ibtn = document.getElementById("iBtn");

// Get the <span> element that closes the modal
var ispan = document.getElementsByClassName("iclose")[0];

// When the user clicks on the button, open the modal 
ibtn.onclick = function() {
  console.log("Click");
  imodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
ispan.onclick = function() {
  imodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == imodal) {
    imodal.style.display = "none";
  }
}

//Research
  // Get the modal
  var rmodal = document.getElementById("rModal");

// Get the button that opens the modal
var rbtn = document.getElementById("rBtn");

// Get the <span> element that closes the modal
var rspan = document.getElementsByClassName("rclose")[0];

// When the user clicks on the button, open the modal 
rbtn.onclick = function() {
  console.log("Click");
  rmodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
rspan.onclick = function() {
  rmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == rmodal) {
    rmodal.style.display = "none";
  }
}

//Post
  // Get the modal
  var pmodal = document.getElementById("pModal");

// Get the button that opens the modal
var pbtn = document.getElementById("pBtn");

// Get the <span> element that closes the modal
var pspan = document.getElementsByClassName("pclose")[0];

// When the user clicks on the button, open the modal 
pbtn.onclick = function() {
  console.log("Click");
  pmodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
pspan.onclick = function() {
  pmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == pmodal) {
    pmodal.style.display = "none";
  }
}
            </script>
            {% endblock %}