
    <h3>ACHIVEMENTS </h3>
<table class="table table-bordered table-sm" width="457"><tbody><tr><td colspan="4" width="457">
<p><strong>BANGALORE UNIVERSITY UG RANK HOLDERS LIST</strong></p>
</td>
</tr><tr><td width="74">
<p><strong>Sl. No.</strong></p>
</td>
<td width="255">
<p><strong>NAME </strong></p>
</td>
<td width="61">
<p><strong>YEAR</strong></p>
</td>
<td width="66">
<p><strong>RANK</strong></p>
</td>
</tr><tr><td width="74">
<p>1</p>
</td>
<td width="255">
<p>UMESH GOEL</p>
</td>
<td width="61">
<p>1984</p>
</td>
<td width="66">
<p>X</p>
</td>
</tr><tr><td width="74">
<p>2</p>
</td>
<td width="255">
<p>SRINIVASA A N</p>
</td>
<td width="61">
<p>1987</p>
</td>
<td width="66">
<p>IX</p>
</td>
</tr><tr><td width="74">
<p>3</p>
</td>
<td width="255">
<p>GEETHA M V</p>
</td>
<td width="61">
<p>1990</p>
</td>
<td width="66">
<p>VIII</p>
</td>
</tr><tr><td width="74">
<p>4</p>
</td>
<td width="255">
<p>MAHESH B V</p>
</td>
<td width="61">
<p>1992</p>
</td>
<td width="66">
<p>I</p>
</td>
</tr><tr><td width="74">
<p>5</p>
</td>
<td width="255">
<p>JYOTHI B C</p>
</td>
<td width="61">
<p>1992</p>
</td>
<td width="66">
<p>V</p>
</td>
</tr><tr><td width="74">
<p>6</p>
</td>
<td width="255">
<p>PRADEEP G KEDLAYA</p>
</td>
<td width="61">
<p>1992</p>
</td>
<td width="66">
<p>VII</p>
</td>
</tr><tr><td width="74">
<p>7</p>
</td>
<td width="255">
<p>RAM PRASAD H K</p>
</td>
<td width="61">
<p>1993</p>
</td>
<td width="66">
<p>II</p>
</td>
</tr><tr><td width="74">
<p>8</p>
</td>
<td width="255">
<p>RAVINDRA REDDY N</p>
</td>
<td width="61">
<p>1993</p>
</td>
<td width="66">
<p>IX</p>
</td>
</tr><tr><td width="74">
<p>9</p>
</td>
<td width="255">
<p>KAMAL BICKRAM SHAH</p>
</td>
<td width="61">
<p>1993</p>
</td>
<td width="66">
<p>X</p>
</td>
</tr><tr><td width="74">
<p>10</p>
</td>
<td width="255">
<p>SHUBHA R</p>
</td>
<td width="61">
<p>1994</p>
</td>
<td width="66">
<p>I</p>
</td>
</tr><tr><td width="74">
<p>11</p>
</td>
<td width="255">
<p>ANIL B R</p>
</td>
<td width="61">
<p>1994</p>
</td>
<td width="66">
<p>III</p>
</td>
</tr><tr><td width="74">
<p>12</p>
</td>
<td width="255">
<p>SUHAS G B</p>
</td>
<td width="61">
<p>1994</p>
</td>
<td width="66">
<p>VI</p>
</td>
</tr><tr><td width="74">
<p>13</p>
</td>
<td width="255">
<p>PRITHVIRAJ RAJAJI</p>
</td>
<td width="61">
<p>1995</p>
</td>
<td width="66">
<p>IV</p>
</td>
</tr><tr><td width="74">
<p>14</p>
</td>
<td width="255">
<p>RATAN CHAND</p>
</td>
<td width="61">
<p>1997</p>
</td>
<td width="66">
<p>III</p>
</td>
</tr></tbody></table><p> </p>
<table class="table table-bordered table-sm" width="454"><tbody><tr><td colspan="4" width="454">
<p><strong>VTU UG RANK HOLDERS LIST</strong></p>
</td>
</tr><tr><td width="85">
<p><strong>Sl. No.</strong></p>
</td>
<td width="224">
<p><strong>NAME </strong></p>
</td>
<td width="70">
<p><strong>YEAR</strong></p>
</td>
<td width="76">
<p><strong>RANK</strong></p>
</td>
</tr><tr><td width="85">
<p>1</p>
</td>
<td width="224">
<p>RAJESH C</p>
</td>
<td width="70">
<p>2003</p>
</td>
<td width="76">
<p>X</p>
</td>
</tr><tr><td width="85">
<p>2</p>
</td>
<td width="224">
<p>PRAKASH M</p>
</td>
<td width="70">
<p>2006</p>
</td>
<td width="76">
<p>VI</p>
</td>
</tr><tr><td width="85">
<p>3</p>
</td>
<td width="224">
<p>KHUSHBOO BAJAJ</p>
</td>
<td width="70">
<p>2006</p>
</td>
<td width="76">
<p>IX</p>
</td>
</tr><tr><td width="85">
<p>4</p>
</td>
<td width="224">
<p>CHAITRA U</p>
</td>
<td width="70">
<p>2008</p>
</td>
<td width="76">
<p>VIII</p>
</td>
</tr><tr><td width="85">
<p>5</p>
</td>
<td width="224">
<p>POOJITHA S D</p>
</td>
<td width="70">
<p>2010</p>
</td>
<td width="76">
<p>X</p>
</td>
</tr><tr><td width="85">
<p>6</p>
</td>
<td width="224">
<p>AMIT AGARWAL</p>
</td>
<td width="70">
<p>2013</p>
</td>
<td width="76">
<p>IV</p>
</td>
</tr><tr><td width="85">
<p>7</p>
</td>
<td width="224">
<p>ABHILASH K Y</p>
</td>
<td width="70">
<p>2014</p>
</td>
<td width="76">
<p>III</p>
</td>
</tr><tr><td width="85">
<p>8</p>
</td>
<td width="224">
<p>ASHWINI RAO</p>
</td>
<td width="70">
<p>2014</p>
</td>
<td width="76">
<p>V</p>
</td>
</tr><tr><td width="85">
<p>9</p>
</td>
<td width="224">
<p>SHARATH N</p>
</td>
<td width="70">
<p>2014</p>
</td>
<td width="76">
<p>VI</p>
</td>
</tr><tr><td width="85">
<p>10</p>
</td>
<td width="224">
<p>DEEPTHI GOWRIMATH</p>
</td>
<td width="70">
<p>2014</p>
</td>
<td width="76">
<p>VIII</p>
</td>
</tr></tbody></table><p> </p>
<table class="table table-bordered table-sm" width="463"><tbody><tr><td colspan="4" width="463">
<p><strong> </strong></p>
<p><strong>VTU PG RANK HOLDERS LIST </strong></p>
</td>
</tr><tr><td width="82">
<p><strong>Sl. No.</strong></p>
</td>
<td width="240">
<p><strong>NAME </strong></p>
</td>
<td width="67">
<p><strong>YEAR</strong></p>
</td>
<td width="73">
<p><strong>RANK</strong></p>
</td>
</tr><tr><td width="82">
<p>1</p>
</td>
<td width="240">
<p>ANZER. A</p>
</td>
<td width="67">
<p>2006</p>
</td>
<td width="73">
<p>III</p>
</td>
</tr><tr><td width="82">
<p>2</p>
</td>
<td width="240">
<p>REMYA R. NAYAR</p>
</td>
<td width="67">
<p>2009</p>
</td>
<td width="73">
<p>II</p>
</td>
</tr><tr><td width="82">
<p>3</p>
</td>
<td width="240">
<p>ARUN KUMAR</p>
</td>
<td width="67">
<p>2010</p>
</td>
<td width="73">
<p>I</p>
</td>
</tr><tr><td width="82">
<p>4</p>
</td>
<td width="240">
<p>VIDHISHA R NETKAL</p>
</td>
<td width="67">
<p>2010</p>
</td>
<td width="73">
<p>III</p>
</td>
</tr><tr><td width="82">
<p>5</p>
</td>
<td width="240">
<p>ANJANA B S</p>
</td>
<td width="67">
<p>2011</p>
</td>
<td width="73">
<p>I</p>
</td>
</tr><tr><td width="82">
<p>6</p>
</td>
<td width="240">
<p>MEERA JOE</p>
</td>
<td width="67">
<p>2012</p>
</td>
<td width="73">
<p>II</p>
</td>
</tr><tr><td width="82">
<p>7</p>
</td>
<td width="240">
<p>SREEHARSHA S</p>
</td>
<td width="67">
<p>2012</p>
</td>
<td width="73">
<p>III</p>
</td>
</tr><tr><td width="82">
<p>8</p>
</td>
<td width="240">
<p>MAHESH H P</p>
</td>
<td width="67">
<p>2013</p>
</td>
<td width="73">
<p>III</p>
</td>
</tr><tr><td width="82">
<p>9</p>
</td>
<td width="240">
<p>ASHWIN THAMMAIAH</p>
</td>
<td width="67">
<p>2014</p>
</td>
<td width="73">
<p>I</p>
</td>
</tr><tr><td width="82">
<p>10</p>
</td>
<td width="240">
<p>SAGAR PATEL</p>
</td>
<td width="67">
<p>2014</p>
</td>
<td width="73">
<p>II</p>
</td>
</tr></tbody></table><p> </p>
<h2>CONFERENCES, SYMPOSIA, SEMINARS, WORKSHOPS etc. CONDUCTED IN THE COLLEGE</h2>
<table class="table table-bordered table-sm" width="830"><tbody><tr><td width="53">
<p><strong> </strong></p>
<p><strong>SL. NO.</strong></p>
<p><strong> </strong></p>
</td>
<td width="622">
<p><strong>NAME OF THE CONFERENCE ETC. ORGANISED</strong></p>
</td>
<td width="155">
<p><strong>DATE &amp; MONTH</strong></p>
</td>
</tr><tr><td width="53">
<p>1</p>
</td>
<td width="622">
<p>TTG Systems: Technology and Methodologies,</p>
</td>
<td width="155">
<p>4<sup>th</sup> Apr 2013</p>
</td>
</tr><tr><td width="53">
<p>2</p>
</td>
<td width="622">
<p>Land Survey Summit</p>
</td>
<td width="155">
<p>7<sup>th</sup>&amp; 8<sup>th</sup> May 2013</p>
</td>
</tr><tr><td width="53">
<p>3</p>
</td>
<td width="622">
<p>SPELLSTAR 2013</p>
</td>
<td width="155">
<p>25<sup>th</sup> Aug 2013</p>
</td>
</tr><tr><td width="53">
<p>4</p>
</td>
<td width="622">
<p>Construction of Al-Hamra tower</p>
</td>
<td width="155">
<p>29<sup>th</sup> Nov 2013</p>
</td>
</tr><tr><td width="53">
<p>5</p>
</td>
<td width="622">
<p>Innovation and Values</p>
</td>
<td width="155">
<p>30<sup>th</sup> Oct 2013</p>
</td>
</tr><tr><td width="53">
<p>6</p>
</td>
<td width="622">
<p>Yakshagana and Haasya Sanje</p>
</td>
<td width="155">
<p>7<sup>th</sup> Dec 2013</p>
</td>
</tr><tr><td width="53">
<p>7</p>
</td>
<td width="622">
<p>Rapid chess tournament</p>
</td>
<td width="155">
<p>8<sup>th</sup> Dec 2013</p>
</td>
</tr><tr><td width="53">
<p>8</p>
</td>
<td width="622">
<p>Alternatives to river sand a sustainable approach</p>
</td>
<td width="155">
<p>13<sup>th</sup> Dec 2013</p>
</td>
</tr><tr><td width="53">
<p>9</p>
</td>
<td width="622">
<p>Crowd sourcing for building attribute information in Bangalore</p>
</td>
<td width="155">
<p>10<sup>th</sup> Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>10</p>
</td>
<td width="622">
<p>Engineering sustainability: Engineers as leaders in facing global change</p>
</td>
<td width="155">
<p>10<sup>th</sup> Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>11</p>
</td>
<td width="622">
<p>International seminar on alternative fuels and raw materials for co-processing in cement industries</p>
</td>
<td width="155">
<p>14<sup>th</sup>&amp; 15<sup>th</sup> Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>12</p>
</td>
<td width="622">
<p>Indo-US seminar on Hazards material management</p>
<p>(Minimisation treatment Recovery and best practices)</p>
</td>
<td width="155">
<p>17<sup>th</sup>-19<sup>th</sup> Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>13</p>
</td>
<td width="622">
<p>Bangalore baseline for the Great Trigonometric Survey (GTS) of India</p>
</td>
<td width="155">
<p>20<sup>th</sup>  Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>14</p>
</td>
<td width="622">
<p>Advances in Human-Computer Interaction</p>
</td>
<td width="155">
<p>20<sup>th</sup>  Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>15</p>
</td>
<td width="622">
<p>Concrete Deminar and Panorama- Innovative concrete materials and technologies</p>
</td>
<td width="155">
<p>25<sup>th</sup> -26<sup>th</sup> Feb 2014</p>
</td>
</tr><tr><td width="53">
<p>16</p>
</td>
<td width="622">
<p>Sanitation options/ Sustainability in sanitation and water-Building a house incorporating all ecological aspects-truly a sustainable house</p>
</td>
<td width="155">
<p>10<sup>th</sup>  Mar 2014</p>
</td>
</tr><tr><td width="53">
<p>17</p>
<p> </p>
</td>
<td width="622">
<p>Inspection, Repair and Monitoring of Flyovers &amp; Bridges</p>
</td>
<td width="155">
<p>2<sup>nd</sup> Aug 2014</p>
</td>
</tr><tr><td width="53">
<p>18</p>
</td>
<td width="622">
<p>Earthquake Hazard and Risk Reduction</p>
</td>
<td width="155">
<p>10<sup>th</sup> Oct 2014</p>
</td>
</tr><tr><td width="53">
<p>19</p>
</td>
<td width="622">
<p>Round table meeting on quality construction</p>
</td>
<td width="155">
<p>20<sup>th</sup> Oct 2014</p>
</td>
</tr><tr><td width="53">
<p>20</p>
</td>
<td width="622">
<p>World Water Day Celebrations</p>
</td>
<td width="155">
<p>23<sup>rd</sup> Mar 2015</p>
</td>
</tr><tr><td width="53">
<p>21</p>
</td>
<td width="622">
<p>Inauguration of American Society of Civil Engineers (ASCE) Chapter at BIT</p>
</td>
<td width="155">
<p>7<sup>th</sup> May 2015</p>
</td>
</tr><tr><td width="53">
<p>22</p>
<p> </p>
</td>
<td width="622">
<p>Indo-Norwegian Training Program on Seismic Design of Multi-Storey Buildings: IS 1893 vs. Eurocode-8</p>
</td>
<td width="155">
<p>31<sup>st</sup> May– 2<sup>nd</sup> Jun 2015</p>
</td>
</tr><tr><td width="53">
<p>23</p>
</td>
<td width="622">
<p>Workshop on Process Safety and Security in association with Indian Chemical Council Mumbai, American Chemistry Council and  Karnataka State Pollution Control Board</p>
</td>
<td width="155">
<p>27<sup>th</sup>- 28<sup>th</sup> Aug 2015</p>
</td>
</tr></tbody></table>						