<style>
    .holder{
        padding: 50px;
    }
</style>
    <h1 id="page-title" class="title">Infrastructure And Facilities Available:</h1>

<h1>LABORATORY DETAILS</h1>
<p >The department of Civil Engineering is having well established laboratories catering the needs of both B.E. and M.Tech. programmes. Laboratory courses are designed to support theoretical concepts taught. All the laboratories are well equipped. Project works, dissertation works and thesis works are supported by the laboratories. The following are the main laboratories in the department.</p>


<div class="row">
<div class="col-md-12">
<h1>Basic Materials Testing Laboratory:</h1>
<p>BMT laboratory has been delivering an extensive range of building material tests from its inception on analysing the quality of building materials testing on aggregates, bricks, blocks, wood, steel, aluminium, cast iron and other traditional building materials. Our construction material engineering and testing credentials speak for themselves. Our professionals having vast experience and understanding of material testing, construction materials and construction practise help our stake holders to understand, get trained, anticipate and minimize potential issues. The lab is  covered an area of 205Sqm.<br>
<strong>Major equipments: </strong>1000kN Servo Computerized Universal Testing Machine, Vickers Hardness Testing Machine, Torsion Testing Machine, Fatigue Testing Machine, and Tile testing machine.</p>
</div>
<img class="holder" src="http://localhost:8080/civil_photos/bmt1.png" style="height:350px; width:540px ;">
<img class="holder" src="http://localhost:8080/civil_photos/bmt2.png" style="height:350px; width:540px;">

</div>

<div class="row">
<img class="holder" src="http://localhost:8080/civil_photos/bmt3.png" style="height:350px; width:540px ;">

</div>

<br><br>

<div class="row">
<div class="col-lg-12">
<h1>Survey Practice Laboratory:</h1>

<p>Our surveying lab offers supplemental experience in fundamental land surveying measurement methods for surveying courses, including precision steel taping methods to perform horizontal measurements, traditional transits and theodolites to perform angular measurements.
In addition, students have opportunity to use total station equipment, which enables horizontal, vertical and angular measurements to be made in one operation.<br>
<strong>Major equipments: </strong>Dumpy level, Transit theodolite (10”), Autolevels, Total Stations, Hand held GPS.</p>
</div>

<img class="holder" src="http://localhost:8080/civil_photos/sp1.png" style="height:350px; width:540px;">

<img class="holder" src="http://localhost:8080/civil_photos/sp2.png" style="height:350px; width:540px;">

</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Geology Laboratory:</h1>

<p>The lab facilitates a hands-on survey of the fundamentals of physical geology. We introduce the identification of minerals and rocks. Training aids like topography maps and models images are available to analyse and understand a variety of dynamic systems including rivers, glaciers, sea coasts and deserts.<br>
<strong>Major specimen samples: </strong>Minerals- Quartz, feldspar, chalcopyrite, magnetite, haematite. Rocks- Igneous rocks- granite, basalt. Sedimentary rocks- sand, lime stone. Metamorphic rocks-marble, quartzite, gneiss. Geological maps, Models (dip and strike, folds, faults, unconformities, dams, tunnels etc.)</p>
</div>

<img class="holder" src="http://localhost:8080/civil_photos/geo.png" style="height:350px; width:540px;">

</div>
<br><br>

<div class="row">
<div class="col-md-12">
<h1>Fluid Mechanics and Hydraulic machines Laboratory:</h1>
<p>The lab has basic fluid mechanics set-up and is equipped with different flow measuring set-ups where students can visualize the basic theory of working of the flow meter and also fortify their theoretical knowledge.<br>
<strong>Major equipments: </strong>Francis turbine, Kaplan turbine, Pelton wheel turbine, Hydraulic ram apparatus, Centrifugal pumpset with variable speed, Tilting fume, Notches and Weirs, Venturiflume, Friction in pipes, Venturimeter, Orifice meter, Impact of jet on vanes setup.</p>
</div>

<img class="holder" src="http://localhost:8080/civil_photos/fmh.png" style="height:350px; width:540px;">

<img class="holder" src="http://localhost:8080/civil_photos/fmh1.png" style="height:350px; width:540px;">

</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Software Application Laboratory:</h1>
<p>
Employers overwhelmingly favour the design, management, analysis and drafting with computer aid. To cater the same, the institution has provided state-of the-art training facility in software applications of Civil engineering.<br>
<strong>Software’s: </strong>AutoCAD 2016, Auto Desk Educational Suite for Civil and Structural Engineering, STAAD PRO, ETABS, ANSYS.
</p>
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Geotechnical laboratory:</h1>
<p>The Geotechnical Engineering Laboratory have standard soil testing equipment including soil classification, compaction, consolidation, direct shear, permeability, unconfined compression and stress and strain controlled triaxial devices. <br>
<strong>
Specialized research equipment includes: </strong>All devices, three gang consolidometer, triaxial compression testing machine, direct shear testing machine, unconfined compression test apparatus are equipped with computer data acquisition systems. Cross and in-plane permeability and cone drop test apparatus for geotextile testing. Model footing testing tank with two way hydraulic jack. Vane shear apparatus, sub soil deformometer and standard penetration test apparatus, compressed stabilized mud block making machine. Equipment for extracting field samples is also available.  </p>
</div>
<img class="holder" src="http://localhost:8080/civil_photos/gt.png" style="height:350px; width:540px;">
<img class="holder" src="http://localhost:8080/civil_photos/ge3.png" style="height:350px; width:540px;">
</div>

<div class="row">

<img class="holder" src="http://localhost:8080/civil_photos/gee2.png" style="height:350px; width:540px;">

<img class="holder" src="http://localhost:8080/civil_photos/ge4.png" style="height:350px; width:540px;">

</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Environmental Engineering Laboratory:</h1>
<p>The laboratory is well equipped to conduct water and waste water quality analysis as per the University syllabus and also fulfil the requirement of the student projects. Air quality monitoring equipments, stack emission kits in the laboratory help students  for their final year project work. The laboratory is equipped with modern  spectrophotometer, Nephelometric  turbidity meter, Flame photo meter , incubator, Muffle furnace and Hot air oven. The students have successfully completed collaborative and field project on colour and cod reduction,  deflouridation, development of compact sewage treatment and evaluation etc.</p>
</div>
<img class="holder" src="http://localhost:8080/civil_photos/envi.png" style="height:350px; width:540px;">


</div>

<br><br>

<div class="row">
<div class="col-md-12">

<h1>Concrete and Highway materials Laboratory:</h1>
<p>
Research in the civil engineering materials area is concerned with improving the performance of construction materials over a wide variety of structural and environmental conditions. The primary emphasis in this division is on concrete and highway materials and here researchers encompass diversified efforts in cementitious and bituminous materials , soils and aggregates. Lab provides facilities for instruction in concrete and bituminous material testing methods, as well as opportunities for research in construction materials and their application to engineering problem.<br>
<strong>Major equipment’s:</strong> 200T compression testing machine, slump test cones, Le-chatelier apparatus, Rebound hammer, Workability testing apparatus, Impact testing machine, Los Angeles Abrasion testing machine, CBR testing apparatus with auto compactor, ductility testing machine, Marshal testing apparatus with auto compactor, Benkelman beam apparatus.
</p>
</div>

<img class="holder" src="http://localhost:8080/civil_photos/last1.png" style="height:350px; width:540px;">

<img class="holder" src="http://localhost:8080/civil_photos/last2.png" style="height:350px; width:540px;">

</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Structural Engineering Laboratory:</h1>
<p>The structural engineering laboratory at BIT serves a wide spectrum of activities covering those related to teaching research and development. The primary activities included experimental studies on model/prototype structural elements and assemblies under various static and dynamic loading conditions.<br>
<strong>
Major equipment’s:</strong> 50T and 100T loading frame and accessories for beam and column testing, 25T loading frame for testing slabs, strain book 8 channel with data acquiring system, Uniaxial shaking table of 30kg pay load, structural dynamics multistored frames (demo models), vibration sensors with data acquiring system, polariscope with accessories.</p>
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-12">
<h1>Structural Dynamics Laboratory:</h1>
<p>
Structural Dynamics Lab is concerned with study of behavior of structures under dynamic loads. This facility is essentially employed to validate the theoretically computed responses as well as one of the R&amp;D facilities in the field of Earthquake engineering Structures. It is an additional facility for characterizing the dynamic behavior of structures. <br>

<strong>Equipment list</strong><br>

• High sensitivity accelerometer (4 Nos.).<br>

• DEWE-41 DSA Data acquisition system, 4 channel handled DSA for VSB2, 4 channel input 1CP special DEWE 6 DSA software.<br>

• Horizontal shake table with a payload of 30 Kg. <br>

• Models of single/multistoried framed Structure (regular and irregular configuration), Liquefaction Studies, etc.<br>

• Facilities for Vibration Analysis of Beams.<br>

• Facilities for modeling Tuned mass damper. <br>

<strong>Major research work in Dynamics lab</strong><br>

• Experimental Study on Dynamic Behavior of Multistoried Frame Structure Subjected to Base Excitation.<br>

• Model Study on Soil structure Interaction (Ongoing UG Project Work).
<br>

<strong>Facilities extended: </strong>The lab is available for research scholars.  <br>

</p>
</div>

<img class="holder" src="http://localhost:8080/civil_photos/dy.png" style="height:350px; width:540px;">
<img class="holder" src="http://localhost:8080/civil_photos/dy1.png" style="height:350px; width:540px;">

</div>

