<h3>Infrastructure and Facilities Available: </h3>
<p>The department laboratories has well equipped with high-end software to help students familiarize themselves with new technology. </p>
<br><br>
<table class="table table-bordered table-sm">


    <tbody>
        <tr>
            <td width="47" rowspan="2">
                <p align="center">
                    <strong>Sr.</strong>
                    <strong>No.</strong>
                </p>
            </td>
            <td width="129" rowspan="2">
                <p align="center">
                    <strong>Name</strong>
                    <strong>of</strong>
                    <strong>the</strong>
                </p>
                <p align="center">
                    <strong>Laboratory</strong>
                </p>
            </td>
            <td width="211" rowspan="2">
                <p align="center">
                    <strong>Name</strong>
                    <strong>of</strong>
                    <strong>the</strong>
                    <strong>Important</strong>
                    <strong>equipment</strong>
                </p>
            </td>
            <td width="343" colspan="2">
                <p align="center">
                    <strong>Technical</strong>
                    <strong>Manpower</strong>
                    <strong>support</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p align="center">
                    <strong>Name</strong>
                    <strong>of</strong>
                    <strong>the technical</strong>
                    <strong>staff</strong>
                </p>
            </td>
            <td width="150">
                <p align="center">
                    <strong>Designation</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="4" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="129" rowspan="4" valign="top">
                <p>
                    Analog Laboratory
                </p>
            </td>
            <td width="211" rowspan="4" valign="top">
                <ul>
                    <li align="left">
                        Dual channel cathode ray oscilloscope
                    </li>
                    <li align="left">
                        Digital Storage Oscilloscope
                    </li>
                    <li align="left">
                        Dual Power Supply
                    </li>
                    <li align="left">
                        Function Generator
                    </li>
                    <li align="left">
                        Multimeter
                    </li>
                    <li align="left">
                        Scientific Main Frame
                    </li>
                    <li align="left">
                        Analog IC Tester
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
                <p>
                    Mr. Kenchappa
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Gururaj L
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Rangegowda M V
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. N.Raju
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="3" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="129" rowspan="3" valign="top">
                <p>
                    Digital Laboratory
                </p>
            </td>
            <td width="211" rowspan="3" valign="top">
                <ul>
                    <li align="left">
                        Digital Trainer Kit
                    </li>
                    <li align="left">
                        Dual channel cathode ray oscilloscope
                    </li>
                    <li align="left">
                        Digital IC Tester
                    </li>
                    <li align="left">
                        Pspice Tool(Open Source)
                    </li>
                    <li align="left">
                        PC’s
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
                <p>
                    Mrs. P Bhagya
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. K.Ramesh
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Premsagar.D.J
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="6" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="129" rowspan="6" valign="top">
                <p>
                    Communication Laboratory
                </p>
            </td>
            <td width="211" rowspan="6" valign="top">
                <ul>
                    <li align="left">
                        Digital Modulation Kits.
                    </li>
                    <li align="left">
                        Microstrip Device setup tools
                    </li>
                    <li align="left">
                        Microwave Test-bench components
                    </li>
                    <li align="left">
                        Fiber optics trainer kit
                    </li>
                    <li align="left">
                        High Frequency function generator
                    </li>
                    <li align="left">
                        Dual channel cathode ray oscilloscope
                    </li>
                    <li align="left">
                        Digital Storage Oscilloscope
                    </li>
                    <li align="left">
                        Dual Power Supply
                    </li>
                    <li align="left">
                        Digital Trainer Kit
                    </li>
                    <li align="left">
                        PC’s
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
                <p>
                    Mrs. Chandrika V S
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Foreman
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. N B Ravi
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Anil B B
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mrs. Rakshitha.K.C
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Ganesha Gowda.J.H
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Channaveeregowda
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="5" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="129" rowspan="5" valign="top">
                <p>
                    VLSI &amp; CCN Lab (Computing Facility-1)
                </p>
            </td>
            <td width="211" rowspan="5" valign="top">
                <ul>
                    <li align="left">
                        CADENCE-Licensed EDA Tool.
                    </li>
                    <li align="left">
                        NS-2 Software (Open Source)
                    </li>
                    <li align="left">
                        PC’s
                    </li>
                </ul>
            </td>
            <!--<td width="193" valign="top">
                    <p>
                       
                    </p>
                </td>
                <td width="150" valign="top">
                    <p>
                      
                    </p>
                </td>-->
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. L Pradeeep
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Dhali Gowda C
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Helper
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Suresh B M
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>
                    Jayanth Gowda.M
                </p>
            </td>
            <td width="150">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="2" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="129" rowspan="2" valign="top">
                <p>
                    ARM/HDL Lab (Computing Facility -2)
                </p>
            </td>
            <td width="211" rowspan="2" valign="top">
                <ul>
                    <li align="left">
                        FPGA Kits
                    </li>
                    <li align="left">
                        CPLD Kits
                    </li>
                    <li align="left">
                        LPC 1768 Low Power Controller Kit
                    </li>

                    <li align="left">
                        Digital Storage Oscilloscope
                    </li>
                </ul>
                <p align="left">
                    · Interfacing Models: DAC, 7 Segment LED Display, 4X4 Keypad, LCD Display, Stepper Motor, DC Motor, Logic Analyser.
                </p>
                <ul>
                    <li align="left">
                        Xilinx Software (Open Source)
                    </li>
                    <li align="left">
                        Keil Software(Open source version-4)
                    </li>
                    <li align="left">
                        PC’s
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
                <p>
                    Mr. Vasudeva B
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr.Suhas.R
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" rowspan="4" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="129" rowspan="4" valign="top">
                <p>
                    DSP/MP Lab (Computing Facility-3)
                </p>
            </td>
            <td width="211" rowspan="4" valign="top">
                <ul>
                    <li align="left">
                        DSP Starter Kits TMS-320 C6713
                    </li>
                    <li align="left">
                        C6748 DSP Kit
                    </li>


                    <li>Interfacing Models: 4*4 Matrix Hex Keypad, 7 Segment LED Display, DAC, ADC, Stepper Motor, DC Motor.</li>
                </ul>

                <ul>

                    <li align="left">
                        Digital Storage Oscilloscope
                    </li>


                    <li align="left">
                        Turbo C++ (Open Source)
                    </li>
                    <li align="left">
                        PC’s
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
                <p>
                    Mr. Doreswamy H C
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Instructor
                </p>
            </td>
        </tr>
        <tr>


        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Ms. Tara S
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Asst. Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td width="193" valign="top">
                <p>
                    Mr. Shivappa H K
                </p>
            </td>
            <td width="150" valign="top">
                <p>
                    Mechanic
                </p>
            </td>
        </tr>
        <tr>
            <td width="47" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="129" valign="top">
                <p>
                    Project lab
                </p>
                <p>
                    &amp;
                </p>
                <p>
                    Research and
                </p>
                <p>
                    Development lab
                </p>
            </td>
            <td width="211" valign="top">
                <p align="left">
                    · Softwares like Cadence, Matlab, Xilinx, Lab View, Pspice, Keil micro vision
                </p>
                <ul>
                    <li align="left">
                        DSP, FPGA, ARM, IOT Kits
                    </li>
                </ul>
                <p>
                    <strong></strong>
                </p>
            </td>
            <td width="193" valign="top">
                <p>
                    Mr. Kenchappa
                </p>
            </td>
            <td width="150" valign="top">
                <p>Instructor</p>
            </td>
        </tr>
        <tr>
            <td width="47" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="129" valign="top">
                <p>
                    Seminar
                </p>
                <p>
                    Hall <strong></strong>
                </p>
            </td>
            <td width="211" valign="top">
                <p align="left">
                    · Fully equipped shared seminar hall with Computers, Projector, White Board, Air conditioner, Cushion chair, Microphone, Speaker etc<strong></strong>
                </p>
            </td>
            <td width="193" valign="top">
                <p>
                    Mr. Dhali Gowda C
                </p>
            </td>
            <td width="150" valign="top">
                <p>Helper</p>
            </td>
        </tr>
        <tr>
            <td width="47" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="129" valign="top">
                <p>
                    Audio-Video Based Learning
                </p>
                <p>
                    <strong></strong>
                </p>
            </td>
            <td width="211" valign="top">
                <ul>
                    <li align="left">
                        Students are shown few important NPTEL Videos <strong></strong>
                    </li>
                </ul>
                <p align="left">
                    · Videos (Animation/ Technical Information) are shown on YouTube.<strong></strong>
                </p>
            </td>
            <td width="193" valign="top">
            </td>
            <td width="150" valign="top">
            </td>
        </tr>
        <tr>
            <td width="47" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="129" valign="top">
                <p>
                    E-Resources (Centralized)
                </p>
            </td>
            <td width="211" valign="top">
                <ul>
                    <li align="left">
                        IEEE
                    </li>
                    <li align="left">
                        Springer link
                    </li>
                    <li align="left">
                        Knimbus
                    </li>
                </ul>
            </td>
            <td width="193" valign="top">
            </td>
            <td width="150" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<br><br><br>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <img src="http://localhost:8080/img/new-img/ec_lab.png" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">Layout of Department of Electronics and Communication Engineering</p>
        </div>
    </div>
</div>
<br><br>