<h3>Post Graduate Overview: </h3>
<br><br>
<p>The department of Electronics and Communication offers two post graduate programs- M.Tech in VLSI and Embedded systems it was started during the academic year 2008-2009 with the intake of 18 and M.Tech in Digital Electronics and communication 2012-2103
    with an intake of 24 respectively. The department has 38 staff members with 6 Ph.D Degree and an average experience of more than 10 years. The department is having research and development center to carry out research works to acquire Ph.D degree.

</p>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="http://localhost:8080/faculty/EC04.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Postgraduate coordinator</h5>
            <p class="card-text">Dr. Vijya Prakash A.M, , Professor</p>
        </div>
    </div>
</div>
<h3>MTech. (VLSI Design and Embedded systems)</h3>
<p>The semiconductor technology especially the VLSI Chip design has been developing at a very fast rate and today it has reached nanometer scale. The miniaturization and 3 D devices have enabled placing over one billion gates on a chip. This is drastically
    reduced the integrated circuit overall size and speed has tremendously increased. Advances in VLSI have resulted in a compact, highly reliable and fast electronics systems. The advances in VLSI have moved from integrated circuits to System on Chip.
    The designers have a very big challenge to design such a chip in highly competitive market. There is urgent need to produce quality engineers who will be able to create new chip ideas, design new VLSI chips and also embedded systems. The program curriculum
    is aimed at VLSI and Embedded system design. The theoretical foundation is built through courses like Digital VLSI design, High speed VLSI design, Low power VLSI Design, Analog and mixed mode design, system on chip design. The practice includes the
    skill development in both front end & Back end designs, verification and testing. The course also offers strong knowledge and practical skills in developing embedded solutions on varied platforms such as FPGA, Advanced microcontrollers and processors.
    They learn to implement real time embedded systems. The designers gain practical knowledge through mini and major projects in both VLSI and Embedded system design domains. Students also have access to advanced design suites such as Cadence, FPGA design
    suite, System Generator and several embedded design kits. The students are encouraged to participate in various sponsored projects in the College to carry out project work and to do the good publications.</p>
<br><br>
<h3>Career Opportunities:</h3>
<p>The students after completing this course have opportunity to work in companies working in the field of VLSI chip design such as Intel, Texas Instruments, , Infineon, TCS, AMD, Alliance semiconductors, Wipro, ARM and many more offer internship and placement
    opportunities. There are a host of embedded solutions companies offering excellent job opportunities, to name a few Tech Mahindra, Robert Bosch, I-micro, redpine signals etc. Embedded systems are playing an ever-increasing role in our society. These
    systems can be found in numerous products, such as TV sets, copiers, washing machines, automobiles, aerospace, transportation systems, biomedical equipments etc., The combination of computer science (software) and electrical, electronics, and communications
    engineering (hardware) in these products makes an integrated approach to the development process necessary. This requires a new breed of engineers who can make use of knowledge of software and hardware.</p>

<br><br>
<h3>MTech (Digital Electronics and Communication)</h3>
<p>The M Tech in Digital Electronics and Communication covers study of design and analysis in the following subjects: Digital communications, Error control coding, RF circuits, Wireless standards, network on chips, MMC, Antenna Design , Advanced Signal Processing
    ,Sensor networks, Digital systems using CMOS, Satellite networks, etc.</p>
<br><br>
<h3>Career Opportunities:</h3>
<p>The potential career opportunities for candidates completing M Tech in Digital Electronics and Communication range from being an entrepreneur, researcher and design engineer in the core and IT industries and research institutes where product / service
    development is happening. The areas of work are in automotive communications, intelligent transport communication equipments, switches and router development, aerospace communication, wireless security, short range communications with medical instrumentation,
    wireless sensor communications design and development, mobile app development, etc.</p>