<h3>Research Overview</h3>

<p>The Department of Electronics and Communication Engineering has been a recognized Research centre under VTU since the year 2012. The researchers can register for Ph.D programs in the domains of • Wireless Communication • Wireless Communication Networks
    • Antennas • Mobile Communication • VLSI • Signal Processing etc, with the faculty well vased within there domains. Currently there are about 28 students have registered for Ph.D program and three research Scholar are awarded from Electronics & Communication
    Engineering Research Center, BIT, Bangalore.

</p>
<br><br>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="http://localhost:8080/faculty/EC03.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Research coordinator</h5>
            <p class="card-text">Dr.Hemanth Kumar A.R, Professor</p>
        </div>
    </div>
</div>
<br><br><br>
<h3>Research Scholar Details:</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="40">
                <p><strong>Sl. no</strong></p>
            </td>
            <td width="60">
                <p><strong>Name of the Researcher</strong></p>
            </td>
            <td width="80">
                <p><strong>Research Guide
    </strong></p>
            </td>
            <td width="60">
                <p><strong>Research Specialization
    </strong></p>
            </td>
            <td width="10">
                <p><strong>Year of<br> Registration
    </strong></p>
            </td>
            <td width="90">
                <p><strong>Status of Research work
    </strong></p>
            </td>
            <td width="60">
                <p><strong>No. of paper published
    </strong></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>1</p>
            </td>
            <td width="60">
                <p>Renuka Kajur</p>
            </td>
            <td width="80">
                <p>Dr K V Prasad</p>
            </td>
            <td width="60">
                <p>VLSI Design</p>
            </td>
            <td width="20">
                <p>2012</p>
            </td>
            <td width="90">
                <p>Comprehensive Viva completed and preparing for Oral Seminar for Thesis Submission
                </p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>

        <tr>
            <td width="40">
                <p>2</p>
            </td>
            <td width="60">
                <p>Nagesh R</p>
            </td>
            <td width="80">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="60">
                <p>Wireless Networks</p>
            </td>
            <td width="20">
                <p>2012</p>
            </td>
            <td width="90">
                <p>Compressive Completed</p>
            </td>
            <td width="60">
                <p>2 Journals</p>
            </td>
        </tr>

        <tr>
            <td width="40">
                <p>3</p>
            </td>
            <td width="60">
                <p>Naveen K.B</p>
            </td>
            <td width="80">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="60">
                <p>VLSI Design</p>
            </td>
            <td width="20">
                <p>2012</p>
            </td>
            <td width="90">
                <p><strong>Awarded
    </strong></p>
            </td>
            <td width="60">
                <p><strong>Awarded
    </strong></p>
            </td>
        </tr>

        <tr>
            <td width="40">
                <p>4</p>
            </td>
            <td width="60">
                <p>C Y Gopinath</p>
            </td>
            <td width="80">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="60">
                <p>LTE</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p>Compressive Completed</p>
            </td>
            <td width="60">
                <p>5 Journals</p>
            </td>
        </tr>

        <tr>
            <td width="40">
                <p>5</p>
            </td>
            <td width="60">
                <p>R K Srinivas</p>
            </td>
            <td width="80">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="60">
                <p>LTE</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p>Comprehensive Viva completed and preparing for Oral Seminar for Thesis Submission</p>
            </td>
            <td width="60">
                <p>3 Conferences</p>
            </td>
        </tr>

        <tr>
            <td width="40">
                <p>6</p>
            </td>
            <td width="60">
                <p>Vinay</p>
            </td>
            <td width="80">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="60">
                <p>Multimedia</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>7</p>
            </td>
            <td width="60">
                <p>Basavaraj S</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>Sensor Networks</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p>Compressive Completed</p>
            </td>
            <td width="60">
                <p>2 Journals and 1 conferences</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>8</p>
            </td>
            <td width="60">
                <p>Rajesh L</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>Sensor Networks</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p><strong>Awarded</strong></p>
            </td>
            <td width="60">
                <p><strong>Awarded</strong></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>9</p>
            </td>
            <td width="60">
                <p>Vandhana A R</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>Rader Systems</p>
            </td>
            <td width="20">
                <p>2013</p>
            </td>
            <td width="90">
                <p><strong>Awarded</strong></p>
            </td>
            <td width="60">
                <p><strong>Awarded</strong></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>10</p>
            </td>
            <td width="60">
                <p>Jalaja S</p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>Low Power VLSI </p>
            </td>
            <td width="20">
                <p>2014</p>
            </td>
            <td width="90">
                <p>Waiting Viva Voce</p>
            </td>
            <td width="60">
                <p>5 conferences and 5 Journals</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>11</p>
            </td>
            <td width="60">
                <p>Kumara Swamy K V
                </p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>VLSI Design Modeling</p>
            </td>
            <td width="20">
                <p>2014</p>
            </td>
            <td width="90">
                <p>Compressive Completed
                </p>
            </td>
            <td width="60">
                <p>2 Conferences</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>12</p>
            </td>
            <td width="60">
                <p>Hrishikesh Sasthy</p>
            </td>
            <td width="80">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="60">
                <p>5G technologies</p>
            </td>
            <td width="20">
                <p>2014</p>
            </td>
            <td width="90">
                <p>Course work completed
                </p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>13</p>
            </td>
            <td width="60">
                <p>S P Spurtinath</p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>Reversible Logic</p>
            </td>
            <td width="20">
                <p>2014</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p>1 Conference
                </p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>14</p>
            </td>
            <td width="60">
                <p>Hareesh Kumar</p>
            </td>
            <td width="80">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="60">
                <p>Wireless Sensor Networks </p>
            </td>
            <td width="20">
                <p>2014</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p>2 Conferences</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>15</p>
            </td>
            <td width="60">
                <p>Naveen Kumar S</p>
            </td>
            <td width="80">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="60">
                <p>Wireless networks</p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p>4 Conferences
                </p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>16</p>
            </td>
            <td width="60">
                <p>Santhosh Babu K C</p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>FinFET</p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Course work completed </p>
            </td>
            <td width="60">
                <p>1 Conferences</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>17</p>
            </td>
            <td width="60">
                <p>Santhosh G</p>
            </td>
            <td width="80">
                <p>Dr K V Prasad</p>
            </td>
            <td width="60">
                <p>&nbsp;Wireless Sensor Networks</p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>18</p>
            </td>
            <td width="60">
                <p>Depthi Chamkur V</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>Antennas</p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Registration completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>19</p>
            </td>
            <td width="60">
                <p>Anand M</p>
            </td>
            <td width="80">
                <p>Dr A B Kalpana</p>
            </td>
            <td width="60">
                <p>RF VLSI Communication</p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Compressive Viva Completed and started preparing Thesis.</p>
            </td>
            <td width="60">
                <p>2 conferences and 2 Journals.</p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>20</p>
            </td>
            <td width="60">
                <p>Deepthi Raj</p>
            </td>
            <td width="80">
                <p>Dr A B Kalpana</p>
            </td>
            <td width="60">
                <p>Synthesis Optimization of FSM </p>
            </td>
            <td width="20">
                <p>2015</p>
            </td>
            <td width="90">
                <p>Course work completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>21</p>
            </td>
            <td width="60">
                <p>Girish Kumar N G</p>
            </td>
            <td width="80">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="60">
                <p>Wireless Communication</p>
            </td>
            <td width="20">
                <p>2016</p>
            </td>
            <td width="90">
                <p>Waiting for Course work result.</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>22</p>
            </td>
            <td width="60">
                <p>Sowmaya Shree</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>Radar Systems</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Course work completed </p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>23</p>
            </td>
            <td width="60">
                <p>Navaneeth N</p>
            </td>
            <td width="80">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="60">
                <p>IOT Biomedical</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Compressive Completed
                </p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>24</p>
            </td>
            <td width="60">
                <p>Nanditha M S</p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>Finet Technology</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Compressive Completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>25</p>
            </td>
            <td width="60">
                <p>Janmuna M</p>
            </td>
            <td width="80">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="60">
                <p>Low power IOT</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Registration completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>26</p>
            </td>
            <td width="60">
                <p>Sunil Naidu G R</p>
            </td>
            <td width="60">
                <p>Dr A B Kalpana</p>
            </td>
            <td width="80">
                <p>Pipelined Architecture</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Waiting for course work result.</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>27</p>
            </td>
            <td width="60">
                <p>Yashaswini M</p>
            </td>
            <td width="80">
                <p>Dr K V Prasad</p>
            </td>
            <td width="60">
                <p>VLSI architecture Wireless Communication</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Registration completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
        <tr>
            <td width="40">
                <p>28</p>
            </td>
            <td width="60">
                <p>Ranjeetha M.V</p>
            </td>
            <td width="80">
                <p>Dr K V Prasad</p>
            </td>
            <td width="60">
                <p>HEVC using DSP</p>
            </td>
            <td width="20">
                <p>2017</p>
            </td>
            <td width="90">
                <p>Registration completed</p>
            </td>
            <td width="60">
                <p></p>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h3>Research Scholar Publications:</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="193">
                <p><strong>Name of the Researcher</strong></p>
            </td>
            <td width="186">
                <p><strong>Research Guide</strong></p>
            </td>
            <td width="499">
                <p><strong>Title of the Paper</strong></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="193">
                <p>Nagesh R</p>
            </td>
            <td rowspan="2" width="186">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="499">
                <p align="justify">“Optimized on-demand routing in cooperative wireless networks”, International Journal of Engineering Trends and Technology (IJETT) – Volume 38 Number 8- August 2016.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance evaluation of Cooperative MAC and ZRP in Cooperative Communication Networking Environment”,&nbsp; International Research Journal of Engineering and Technology (IRJET) e-ISSN: 2395 -0056 Volume: 03 Issue: 11 | Nov -2016.</p>
            </td>
        </tr>
        <tr>
            <td rowspan="5" width="193">
                <p>Naveen K.B</p>
            </td>
            <td rowspan="5" width="186">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
            <td width="499">
                <p>“Optimal Design of R-2R DAC using Reversible logic”,&nbsp; IJARCSSE-ISSN 2277128X volume 5, Issue 5, May 2015</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>Energy Efficient Architecture for 4-TAP FIR Filter using Reversible Logic Gates.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>Energy Efficient QAM Modulation/Demodulation Architecture using Reversible Logic Gates.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>Low power digital ADC architecture using reversible logic gates in 65nm Technology.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>Energy efficient architectures for QPSK modulation/demodulation using reversible logic gates in 65nm.</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" width="193">
                <p>Hareesh Kumar</p>
            </td>
            <td rowspan="3" width="186">
                <p>Dr Sree Ranga Raju M N</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>Design and Implementation of Wireless Sensor Networks for Underwater Acoustics Using Software Defined Radio</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance Evaluation of Adaptive Telemetry Acoustic Modem for Underwater wireless sensor networks”, Springer 3<sup>rd</sup> International conference on Next Generation Computing Technologies.</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Ramakrishna KT</p>
            </td>
            <td width="186">
                <p>Dr M N Sree Ranga Raju</p>
            </td>
            <td width="499">
                <p>Anomaly Detection of Streaming Sensor Data Using Spark MLlib Techniques</p>
            </td>
        </tr>
        <tr>
            <td rowspan="5" width="193">
                <p>C Y Gopinath</p>
            </td>
            <td rowspan="5" width="186">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="499">
                <p>“Performance Analysis of Different Scheduling Algorithms in LTE system for Jitter constraint”, IJSRD, Volume 3, Issue 7, Sep 2015&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance Evaluation of Scheduling algorithm with Different MIMO techniques in LTE Systems”, IJCST, Vol 6, Issue 3 Sept 2015 ISSN:0976-8491(online) ISSN:2229-4333(Print)Pg No 214-217.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance Comparison for Iterative Decoder using Max-Log-Map and Fully Parallel Turbo Decoding Algorithm”, International Journal of Latest Technology in Engineering, Management &amp; Applied Science (IJLTEMAS)</p>
                <p>Volume VI, Issue VIII, August 2017 | ISSN 2278-2540</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance evaluation of transport layer protocols using ns-3”, International Journal of Engineering Research in Electronics and Communication Engineering (IJERECE), Vol 4, Issue 7, July 2017, ISSN (Online) 2394-6849</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Performance Study of LTE Scheduling Algorithms in Vehicular and Pedestrian Mobility”, International Journal of Advanced Research in Electrical, Electronics and Instrumentation Engineering (An ISO 3297: 2007 Certified Organization) Vol.
                    5, Issue 5, May 2016 ISSN (Online): 2278 – 8875.</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" width="193">
                <p>R K Srinivas</p>
            </td>
            <td rowspan="3" width="186">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="499">
                <p align="justify">“ Scaling Effectiveness in Existing Research-based Scheduling Practices in LTE-based Network Communications on Applied Electronics (CAE)”, ISSN : 2394-4714 Foundation of Computer Science FCS, New York, USA Volume 7 – No. 16, May 2018.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“A Method of Throughput enhancement in next Generation wireless Network by using Machine Learning Framework through Predictive Signaling”, IEEE ICECEIC conference, held on 30th and 31st of January 2019.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Minimizing Latency for 5G Multimedia and V2X applications using Mobile Edge Computing”, IEEE conference, held in WInLA/b, Rutgers University, NJ, USA.</p>
            </td>
        </tr>


        <tr>
            <td rowspan="4" width="193">
                <p>Naveen Kumar S</p>
            </td>
            <td rowspan="4" width="186">
                <p>Dr Hemanth Kumar A R</p>
            </td>
            <td width="499">
                <p align="justify">“Minimizing Latency for 5G Multimedia and V2X Applications using Mobile Edge Computing, IEET’19: 2nd International Conference on Intelligent Communication and Computational techniques.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“A Method of Throughput Enhancement in Next Generation wireless Network by using Machine Learning Framework Through Predictive Signaling, International Conference on Electrical, Communication, Electronics, Instrumentation and Computing
                    (ICECEIC-2019).
                </p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">““Method of Faster Reconnection to LTE network during CSFB using Proximity Sensor, 7th IEEE Latin-American Conference on Communications (IEEE Latincom 2015).</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Network usage optimization for collaboration on an Infinite Canvas with a viewport based novel Technique, IEEE Asia Pacific Conference on wireless and Mobile ISBN: 978-1-4799-8289-9.</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Kumara Swamy K V</p>
            </td>
            <td width="186">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="499">
                <p>Effects of process variation at deep Submicron Technology node and analysis of Sigma-Delta ADC design</p>
            </td>
        </tr>
        <tr>
            <td rowspan="11" width="193">
                <p>Jalaja S</p>
            </td>
            <td rowspan="11" width="186">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="499">
                <p align="justify">“Different Retiming transformation technique to Design Optimized Low Power VLSI architecture”, AIMS Electronics and Electrical Engineering, 2018, 2(4): 117-130. doi: 10.3934/ElectrEng.2018.4.117</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Circular Retiming technique to design Optimized Least Mean square architecture for adaptive filter”, Journal of VLSI Design Tools and Technology (JoVDTT), ISSN(online):2229-474X, ISSN(Print): 2321-6492, Volume 8, Issue 3.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Retime Low Power Approximate Multiplier for Image Sharpening and Smoothing”, IOSR Journal of VLSI and Signal Processing (IOSR-JVSP) Volume 8, Issue 2, Ver.1 (Mar-April.2018) PP 58-64, e-ISSN:2319-4200</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“VLSI Architecture of Finite Impulse Response (FIR) Filter Implementation Using Retiming Technique”, International Journal of Electrical, Computer, Energetic, Electronic and Communication Engineering Vol:11, No:2, 2017</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Design and Implementation of Radix-4 FFT Using Retiming Approach”, International Journal of computer science &amp; communication, Vol8,Issue2, 2017</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Design of Low Power SAR ADC using Clock Retiming”, IEEE Computer Society Annual Symposium on VLSI 2018. 9<sup>th</sup> to 11<sup>th</sup> July 2018, Hong Kong, China.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Partition based Product term Retiming for Reliable Low Power Logic Structure”, Future of Information and Communications Conference (FICC) 2018, 5<sup>th</sup> &amp; 6<sup>th</sup> April 2018 | Singapore. Advances in Intelligent systems
                    and Computing, Vol 886. Spinger, Cham. Online ISBN: 978-3-030-03401-3.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“VLSI Architecture of Finite Impulse Response (FIR) Filter Implementation Using Retiming Technique”, 19<sup>th</sup>&nbsp; International Conference on Circuits, Electronics and Micro Electronics it was organized by world academy of science,
                    engineering, and technology (WASET) 2017, on February 7-8, in Bombay India.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Design of low power based VLSI architecture for constant multiplier and high speed implementation using retiming technique”, IEEE International Conference in MicroCom 2016, organized by NIT Durgapur, West Bengal, January 23 - 25, 2016.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“High Speed VLSI Architecture for Squaring Algorithm Using Retiming Approach”, Third International Conference on Advances in Computing and Communications organized by&nbsp; RSET, Cochin, Kerala, India during Aug 29-31 2013 and&nbsp; the
                    paper is published in IEEE Computer Society's CPS.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">&nbsp;“ASIC Architectures for Implementing ECC Arithmetic over Finite Fields”, International Journal of Science and Research, 2015.</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>S P Spurtinath</p>
            </td>
            <td width="186">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="499">
                <p>Synthesis and optimization of Digital Circuits using Energy Efficient Reversible Logic</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Santosh Babu K.C</p>
            </td>
            <td width="186">
                <p>Dr Vijaya Prakash A M</p>
            </td>
            <td width="499">
                <p>Performance analysis of Low Power Digital Logic Circuits Based on FINFET Technologies</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" width="193">
                <p>Basavaraj S</p>
            </td>
            <td rowspan="3" width="186">
                <p>Dr C. R. Byra Reddy</p>
            </td>
            <td width="499">
                <p>“True Ohmic contact on RF sputtered ZnO thin film by using the nonalloy Ti/Au metallization scheme”, Journal of Alloys and Compounds, Elsevier</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Study of annealing effect on the growth of ZnO nanorods on ZnO seed layers”, American Institute of Physics, <a href="https://doi.org/10.1063/1.5029653">https://doi.org/10.1063/1.5029653</a></p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“Seed layer effect on different properties and UV detection capability of hydrothermally grown ZnO nanorods over SiO2/p-Si substrate”, Superlattices and Microstructures, Elsevier</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Rajesh L</p>
            </td>
            <td width="186">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="499">
                <p>A Review on MAC protocols for WSN's, International Journal of Computer Applications and IOT, Vol.1,no. 2, 2015/12</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Vandhana A R</p>
            </td>
            <td width="186">
                <p>Dr. C R Byra Reddy</p>
            </td>
            <td width="499">
                <p>Enhancement of unambiguous DOA estimation for phase comparison monpulse radar, ICACCI 2015, IEEE Conference, Kochi</p>
            </td>
        </tr>
        <tr>
            <td rowspan="5" width="193">
                <p>Ananda M</p>
            </td>
            <td rowspan="5" width="186">
                <p>Dr. A.B. Kalpana</p>
            </td>
            <td width="499">
                <p align="justify">“Design of High Gain Low Power Down Conversion Mixer Used for Wireless LAN Applications”, International Conference on Innovative Mechanisms for Industry Applications (ICIMIA 2017)</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p align="justify">“ Design of an Efficient Frequency Synthesizer used For Multi-Band OFDM”, International Journal of Latest Technology in Engineering, Management &amp; Applied Science (IJLTEMAS) Volume VI, Issue XII, December 2017 | ISSN 2278-2540</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>“ An efficient MOS Class-E Power amplifier for Wireless LAN applications”, 1st Springer International Conference on Emerging Trends and Advances in Electrical Engineering and Renewable Energy (ETAEERE-2016), Held on 17th and 18th Dec 2016,
                    Sikkim, India.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>“An Efficient MOS class-E Power amplifier for wireless LAN applications”. Book Name: Advances in Electronics, communication and computing. Lecture Notes in Electrical Engineering. Springer Nature Singapore Pvt Ltd.</p>
            </td>
        </tr>
        <tr>
            <td width="499">
                <p>“High gain and Low power up conversion Mixer for wireless LAN applications” in the International Journal of scientific research in science and Technology(IJSRST), Vol 6, Issue 1, January 2019.</p>
            </td>
        </tr>
        <tr>
            <td width="193">
                <p>Deepthi Raj</p>
            </td>
            <td width="186">
                <p>Dr. A.B. Kalpana</p>
            </td>
            <td width="499">
                <p align="justify">“Review on Synthesis Optimization of FSM for Area and Power using Computational Intelligence”, Proceedings of the International conference on Inventive Research in computing Applications(ICIRCA 2018)</p>
            </td>
        </tr>
    </tbody>
</table>