<h3>Rank Holders List under Visvesvaraya Technological University</h3>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <td width="54">
                <p><strong>Sl. No.</strong></p>
            </td>
            <td width="216">
                <p><strong>Rank Holder Name</strong></p>
            </td>
            <td width="109">
                <p><strong>Year of Pass</strong></p>
            </td>
            <td width="105">
                <p><strong>Rank</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td width="54">
                <p>1</p>
            </td>
            <td width="216">
                <p>VINAY. M.M</p>
            </td>
            <td width="109">
                <p>2003</p>
            </td>
            <td width="105">
                <p>3</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>2</p>
            </td>
            <td width="216">
                <p>ARVIND.S</p>
            </td>
            <td width="109">
                <p>2006</p>
            </td>
            <td width="105">
                <p>4</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>3</p>
            </td>
            <td width="216">
                <p>SONAKAR PRASHANTH SURESH RAO</p>
            </td>
            <td width="109">
                <p>2007</p>
            </td>
            <td width="105">
                <p>3</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>4</p>
            </td>
            <td width="216">
                <p>NIKETAN DADU</p>
            </td>
            <td width="109">
                <p>2008</p>
            </td>
            <td width="105">
                <p>5</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>5</p>
            </td>
            <td width="216">
                <p>MANJESH. M</p>
            </td>
            <td width="109">
                <p>2010</p>
            </td>
            <td width="105">
                <p>1</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>6</p>
            </td>
            <td width="216">
                <p>B. LALITHA MAHESHWARI</p>
            </td>
            <td width="109">
                <p>2011</p>
            </td>
            <td width="105">
                <p>7</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>7</p>
            </td>
            <td width="216">
                <p>PRADEEPVAIJANATH BIRADAR</p>
            </td>
            <td width="109">
                <p>2012</p>
            </td>
            <td width="105">
                <p>1</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>8</p>
            </td>
            <td width="216">
                <p>SWATHI RAO</p>
            </td>
            <td width="109">
                <p>2012</p>
            </td>
            <td width="105">
                <p>7</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>9</p>
            </td>
            <td width="216">
                <p>SADIQ.S</p>
            </td>
            <td width="109">
                <p>2012</p>
            </td>
            <td width="105">
                <p>8</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>10</p>
            </td>
            <td width="216">
                <p>SINDHU.S</p>
            </td>
            <td width="109">
                <p>2013</p>
            </td>
            <td width="105">
                <p>1</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>11</p>
            </td>
            <td width="216">
                <p>SHVBHAM BHARADWAJ</p>
            </td>
            <td width="109">
                <p>2013</p>
            </td>
            <td width="105">
                <p>5</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>12</p>
            </td>
            <td width="216">
                <p>NIVESH JALAN</p>
            </td>
            <td width="109">
                <p>2013</p>
            </td>
            <td width="105">
                <p>6</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>13</p>
            </td>
            <td width="216">
                <p>PATWARI SNEHA</p>
            </td>
            <td width="109">
                <p>2015</p>
            </td>
            <td width="105">
                <p>2</p>
            </td>
        </tr>
        <tr>
            <td width="54">
                <p>14</p>
            </td>
            <td width="216">
                <p>VINESH KAMBOJ</p>
            </td>
            <td width="109">
                <p>2015</p>
            </td>
            <td width="105">
                <p>6</p>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<h3>Rank Holders List under Bangalore University</h3>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <td width="55">
                <p><strong>Sl. No.</strong></p>
            </td>
            <td width="216">
                <p><strong>Rank Holder Name</strong></p>
            </td>
            <td width="109">
                <p><strong>Year of Pass</strong></p>
            </td>
            <td width="105">
                <p><strong>Rank</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="55">
                <p>1</p>
            </td>
            <td width="216">
                <p>PANKAJ BIR</p>
            </td>
            <td width="109">
                <p>1987</p>
            </td>
            <td width="105">
                <p>2</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>2</p>
            </td>
            <td width="216">
                <p>VENKATARAMAN</p>
            </td>
            <td width="109">
                <p>1992</p>
            </td>
            <td width="105">
                <p>10</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>3</p>
            </td>
            <td width="216">
                <p>GAJENDRA N</p>
            </td>
            <td width="109">
                <p>1994</p>
            </td>
            <td width="105">
                <p>4</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>4</p>
            </td>
            <td width="216">
                <p>SRIKANTH G.P</p>
            </td>
            <td width="109">
                <p>1995</p>
            </td>
            <td width="105">
                <p>6</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>5</p>
            </td>
            <td width="216">
                <p>HEMANTH GARG</p>
            </td>
            <td width="109">
                <p>1997</p>
            </td>
            <td width="105">
                <p>2</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>6</p>
            </td>
            <td width="216">
                <p>NATESH V.P</p>
            </td>
            <td width="109">
                <p>1997</p>
            </td>
            <td width="105">
                <p>5</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>7</p>
            </td>
            <td width="216">
                <p>CHIRAG ARORA</p>
            </td>
            <td width="109">
                <p>1999</p>
            </td>
            <td width="105">
                <p>6</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>8</p>
            </td>
            <td width="216">
                <p>GURURAJ H.V</p>
            </td>
            <td width="109">
                <p>2000</p>
            </td>
            <td width="105">
                <p>7</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>9</p>
            </td>
            <td width="216">
                <p>PRASAD G.RAO</p>
            </td>
            <td width="109">
                <p>2001</p>
            </td>
            <td width="105">
                <p>4</p>
            </td>
        </tr>
        <tr>
            <td width="55">
                <p>10</p>
            </td>
            <td width="216">
                <p>NARENDRA BABU</p>
            </td>
            <td width="109">
                <p>2001</p>
            </td>
            <td width="105">
                <p>7</p>
            </td>
        </tr>
    </tbody>
</table>
<br><br><br>
<h3>Other Achievements by Students </h3>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/1.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">TIMES AUTO-SHOW 2011, Bengaluru</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/2.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Unveiling of STRATOS’12 buggy for the competition BAJA SAEINDIA 2012.</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/3.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>BAJA SAEINDIA 2012, Pithampur , Indore , Feb 2012.</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/4.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Maneuverability event in EFFICycle 2011 event conducted by SAE-NIS in Chandigarh, October 2011</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/5.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event- Baja SAE Auburn ,USA, 2012</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/6.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - Baja SAE Korea 2013</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/7.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - Baja SAE India 2015</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/8.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - Indian Karting Race 2015</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/9.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - Student Karting Championship 2015</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/10.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - National Kart Racing Championship 2016</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/11.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the event - National Kart Racing Championship 2016</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img src="http://localhost:8080/mech_photos/12.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <p align="center">
                <p>Photograph of the Event - Aero Design Challenge -SAEISS-ADC 2018</p>
        </div>
    </div>
</div>