<h3>INFRASTRUCTURE</h3>
<h3>
    <strong>List of Major Equipment’s in Labs</strong>
</h3>
<h3>
    Lab: Design Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Universal Vibration Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Static &amp; Dynamic Balancing
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Whirling of Shaft
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Journal Bearing Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Weighing Balance
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Porter Governor
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Hartnell Governor
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Motorized Gyroscope
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Transmission Type Polariscope
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Curved Beam
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<h3>
    Lab: Computer Integrated Manufacturing
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    CNC Turning Machine
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    CNC MILLING MACHINE
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Desktop Computers
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Workstation
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Projecter
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Printers
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<h3>
    Lab: Heat and Mass Transfer Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="82" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    <strong>Name of The Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    1
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Thermal Conductivity Of Metal Rod
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    2
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Thermal Conductivity Of Composite Wall
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    3
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Parallel Flow/ Counter Flow Heat Exchanger
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    4
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Stefan Boltzmann Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    5
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Emissivity Measurement Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    6
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Heat Transfer In Natural Convection
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    7
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Heat Transfer In Forced Convection
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    8
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Vapour Compression Refrigeration Test Rig
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    9
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Air Conditioning Test Rig
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    10
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Pin-Fin Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    11
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Boiling And Condensation Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="82">
                <p align="center">
                    12
                </p>
            </td>
            <td width="285" valign="top">
                <p>
                    Transient Heat Conduction
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Computer Aided Modelling &amp; Analysis Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Desktop Computers
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Workstation
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Projecters
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Printers
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Energy Conversion Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Abel Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Pensky Martins Apparatus
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Planimeter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Red Wood Viscometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Say Bolt Viscometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Torsion Viscometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Bomb Calorimeter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Lewis Thomson Calorimeter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Variable Compression Ratio Test Ring
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Four Stroke Petrol Engine
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    11
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Four Stroke Diesel Engine
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    12
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Two Stroke Petrol Engine
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    12
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Two Stroke Diesel Engine
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Fluid Mechanics and Machinery Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    V-Notch
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Venturimeter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Orifice Meter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Friction Through Pipes
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Single Stage Centrifugal Pump
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Multi- Stage Centrifugal Pump
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Reciprocating Pump
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Francis Turbine
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Pelton Wheel
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Air Compressor
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    11
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Air Blower
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    12
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Rotameter
                </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="top">
                <p align="center">
                    13
                </p>
            </td>
            <td width="276" valign="top">
                <p>
                    Vanes
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Metrology and Measurement Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="258">
                <p>
                    Pressure Gauge Setup
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="258">
                <p>
                    Thermocouple Setup With J,K And T Type Thermocouples
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="258">
                <p>
                    RTD
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    LVDT
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Load Cell
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Cantilever Beam Setup
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Profile Projector
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Universal Bevel Protractor
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Autocollimator
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Lathe Tool Dynamometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    11
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Drill Tool Dynamometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    12
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Floating Carriage Micrometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    13
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Mechanical Comparator
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    14
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Portable Surface Roughness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    15
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Gear Tooth Vernier
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    16
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Gear Tooth Micrometer
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    17
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Slip Gauge Box-87 Pieces
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    18
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Slip Gauge Box-83 Pieces
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    19
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Sine Bar
                </p>
            </td>
        </tr>
        <tr>
            <td width="90" valign="top">
                <p align="center">
                    20
                </p>
            </td>
            <td width="258" valign="top">
                <p>
                    Sine Center
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Material Testing Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Rockwell Hardness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Brinell Hardness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Vickers Hardness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    UTM
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Magnetic Particle Inspection
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dye Penatration Test
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Impact Testing Machine
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Torsion Testing Machine
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Wear Testing Machine
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    10
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Fatigue Testing Machine
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Computer Aided Machine Drawing Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Desktop Computers
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Workstation
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Projecters
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Printers
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Foundry and Forging Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong>Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Universal Sand Testing Machine
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Permeability Meter
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Cupola Furnace
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Sieve Shaker With 10 Sieves
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    5
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Oven
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    6
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Clay Content Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    7
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Mould Hardness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    8
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Core Hardness Tester
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    9
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Moulding Tools &amp; Accessories
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>
    Lab: Computer graphics Lab
</h3>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    <strong>Sl.No</strong>
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    <strong> Name of the Equipment</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    1
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Desktop Computers
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Dell Workstation
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Projecters
                </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td width="270" valign="top">
                <p>
                    Printers
                </p>
            </td>
        </tr>
    </tbody>
</table>