<h3>
    Post Graduate</h3>
<h3>MTech in Machine Design – PG Programme</h3>

<p align="justify">Department of Mechanical Engineering has started Machine Design PG Programme in the year 2003-04. The program is approved by AICTE and is affiliated to Visvesvaraya Technological University (VTU), Karnataka. The M.Tech (Machine Design) programme is of
    four semesters (two years) duration. During this tenure, they acquire the in depth knowledge in various field of Mechanical engineering design though the rigorous, brain storming teaching- learning process. In addition, the students will be encouraged
    and motivated to learn the art of effective dissemination of knowledge through seminars and technical paper publications. The courses are taught so that the students get an in depth knowledge of subject so as to suit for industry jobs. The subjects
    at both core and electives are suitably designed to keep abreast with the latest design methodologies in the industries nationally as well as globally. Students will have 6 months internship programme during 3rd semester and our placement center provides
    facilities for internship recruitments from major companies. Most of the students have bagged internship offers from BFW, Robert Bosch, NAL, HAL and ADE, etc. PG students will be provided placements during fourth semester. </p>
<p align="center"><img src="http://localhost:8080/faculty/ME03.jpg" style="width:200px;height:200px"></p>
<p align="center"><strong>Dr. B.N.Ravikumar<br>
Professor &amp; PG coordinator</strong></p>
<p align="justify"><b>FACILITIES:</b> An independent laboratory is provided for Post Graduate students with well-equipped systems with software. Internet facility with Journal access has been provided to each system. PG lab has facilities like Wear testing and Extensometer
    set up.</p>
<p align="justify">PG Department is coordinated by Dr. B.N.Ravikumar BE,ME,PhD. His publication at National and International conference is 05 and 15 respectively. No. of publication in Scopus Indexed Journals is 20 nos and UGC approved journals is 15nos. Two research scholars
    are completed their research work under his guidance.</p>
<p align="justify"><b>CURRICULUM: </b>The curriculum is aimed to give theoretical and hands on in the areas of machine design. Students have opportunity to work in advanced areas like Fracture mechanics, Tribology, Computational fluid dynamics, FEM, Mechanism design during
    first to fourth semester and the entire third semester duration is allocated for Industrial Training (Internship) in companies.</p>
<h3>SYLLABUS COVERAGE AS PER VTU</h3>
<table class="table table-bordered table-sm" width="581">
    <thead>
        <tr>
            <th width="317">
                <p><strong>CORE SUBJECTS</strong></p>
            </th>
            <th width="264">
                <p><strong>ELECTIVES LIST</strong></p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="317">
                <p><strong>Semester I</strong></p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18 MDE11 Mathematics</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18 MDE12 Advanced Theory of Vibrations</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE13 Continuum Mechanics</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE14 Dynamics and Mechanism Design</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE15 Fracture Mechanics</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDEL16 Design Laboratory-1</p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18RMI17 Research Methodology and IPR</p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester II</strong></p>
            </td>
            <td width="264">
                <p>Professional Elective I</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MEA21 Finite Element Methods</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE 23 Tribology and Bearing Design</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE22 Advanced Machine Design</p>
            </td>
            <td width="264">
                <p>Professional Elective II</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDEL26 Design Laboratory 2</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE27 Technical Seminar</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester III</strong></p>
            </td>
            <td width="264">
                <p> Professional Elective 3</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MMD31 Design for manufacture and assembly</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>16MMD34 Evaluation of Project phase -1</p>
            </td>
            <td width="264">
                <p>Professional Elective 4</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MDE135 Internship</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester IV</strong></p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MME41 Project phase -2</p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<h3>M.Tech in Manufacturing Science and Engineering – PG Programme</h3>

<p>Master of Technology (M.Tech., in Manufacturing Science and Engineering):<br> Starting in the academic year 2012-13 the department is offering M Tech. Degree in Manufacturing Science and Engineering, with a minimum intake of 24 students every year. This
    course is 04 semester course with major focus on advances and practical aspects of manufacturing engineering. The courses are so designed that the students do get an opportunity to be ready for industry jobs as well as to pursue higher studies in
    Institutes of higher learning in universities abroad. The subjects both core and electives are suitably designed to keep abreast with the latest know how in manufacturing industries nationally as well as globally. </p>
<p align="center"><img src="http://localhost:8080/faculty/ME02.jpg" style="width:200px;height:200px"></p>
<p align="center"><strong>Dr. T.V.Sreerama Reddy<br>
Professor &amp; PG-Coordinator</strong></p>
<h3>Facilities:</h3>
<p align="justify">PG Department is coordinated by Dr. T.V.Sreerama Reddy BE,M.E.,PhD., His publication at National and International conference is 05 and 15 respectively. No. of publication in National and International journals is 15 Nos. One research scholar is completed
    his research work under his guidance and presently five students are pursuing Ph.D. Programme under his guidance.</p>
<p align="justify">Curriculum: The curriculum is aimed to give theoretical and hands on experience in the areas of advances in advances in Manufacturing Skills. Students have opportunity to work in advanced areas like Advanced Materials and Manufacturing Processes. The
    entire third semester duration is allocated for Industrial Training (Internship) in Industries. The Project work will be carried out in collaboration with industries.</p>
<h3>Syllabus Coverage as per VTU</h3>
<table class="table table-bordered table-sm" width="581">
    <thead>
        <tr>
            <th width="317">
                <p><strong>CORE SUBJECTS</strong></p>
            </th>
            <th width="264">
                <p><strong>ELECTIVES LIST</strong></p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="317">
                <p><strong>Semester I</strong></p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE11 MATHEMATICAL METHODS IN ENGINEERING</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE12 Advanced Foundry Technology</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE13 Advanced Engineering Materials</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE14 Advanced Joining Process</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE15 Computer Integrated Manufacturing</p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSEL16 Laboratory</p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18RMI17 Research Methodology and IPR</p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester II</strong></p>
            </td>
            <td width="264">
                <p><strong>Professional Elective 1</strong></p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE21 Theory of Metal Cutting</p>
            </td>
            <td width="264">
                <p>18MSE241 Non Destructive Testing</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE22 Theory of Metal Forming</p>
            </td>
            <td width="264">
                <p>18MSE242 Rapid Prototyping</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE23 Advanced Processing of Materials</p>
            </td>
            <td width="264">
                <p>18MSE243 Finite Element Methods</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE24X Professional elective 1</p>
            </td>
            <td width="264">
                <p>18MSE244 Simulation &amp;Modeling of Manufacturing Systems</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE25X Professional elective 2</p>
            </td>
            <td width="264">
                <p><strong>Professional Elective </strong><strong>2</strong></p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSEL26 Laboratory</p>
            </td>
            <td width="264">
                <p>18MSE251 Micromachining Processes</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE27 Technical Seminar</p>
            </td>
            <td width="264">
                <p>18MSE252 Non Traditional Machining Processes</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p> 18MSE253 Surface Treatment and Finishing</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p>18MSE254 Industrial Design and Ergonom</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester III</strong></p>
            </td>
            <td width="264">
                <p> Professional Elective 3</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE31 Nano Technology</p>
            </td>
            <td width="264">
                <p>18MSE321 Industrial Robotics</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE32X Professional Elective 3</p>
            </td>
            <td width="264">
                <p>18MSE322 Tool Design</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE33X Professional Elective 4</p>
            </td>
            <td width="264">
                <p>18MSE323 Smart Materials</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE34 Evaluation of Project Phase -1</p>
            </td>
            <td width="264">
                <p>18MSE324 Precision Engineering</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSEI35 Internship</p>
            </td>
            <td width="264">
                <p>Professional Elective 4</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p>18MSE331 Composite Materials</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p>18MSE332 Agile Manufacturing</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p>18MSE333 Operations Management</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p> </p>
            </td>
            <td width="264">
                <p> 18MSE334 Quality and reliability engineering</p>
            </td>
        </tr>
        <tr>
            <td width="317">
                <p><strong>Semester IV</strong></p>
            </td>
            <td width="264"> </td>
        </tr>
        <tr>
            <td width="317">
                <p>18MSE41 Project work Phase-2</p>
            </td>
            <td width="264"> </td>
        </tr>
    </tbody>
</table>